<!DOCTYPE html>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <link rel="stylesheet" href="css/normalise.css">
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="js/tmpl.js"></script>
    <title>Lesson 13-14</title>
  
</head>
    <body>
    
    <h1 class="header">Take a quick test</h1>
    <div class="modal_window">
       <div class="modal_answer">
        <div class="title"><span>1.</span><span class="questionTitle">Who is the best friend of Harry Potter?</span></div>
        <div class="answer answ1"></div>
        </div>
        <div class="modal_answer">
        <div class="title"><span>2.</span><span class="questionTitle">Who is J.K. Rowling?</span></div>
        <div class="answer answ2"></div>
        </div>
        <div class="modal_answer">
        <div class="title"><span>2.</span><span class="questionTitle">Where is the Hogwarts?</span></div>
        <div class="answer answ3"></div>
        </div>
        <button type="button" class="try_again">Try Again</button>
    </div>
        <script type="text/html" id="user_tmpl">
        
        <% for ( var i = 0; i < data.length; i++ ){ %>
         <div class="answer_wrapper <%= i+1%>">
         <div class="title"><span><%= i+1 %>.</span><span class="questionTitle"><%=data[i].question%></span></div>
             <label class="answer_label answer_label_<%= i+1%>"><input type="checkbox" class="checkbox" name="answ<%= i+1 %>"><%=data[i].answer1%></label>
             <label class="answer_label answer_label_<%= i+1%>"><input type="checkbox" class="checkbox" name="answ<%= i+1 %>"><%=data[i].answer2%></label>
             <label class="answer_label answer_label_<%= i+1%>"><input type="checkbox" class="checkbox" name="answ<%= i+1 %>"><%=data[i].answer3%></label>
         </div>
         
    <% } %>
    <button class="button">Отправить</button>
    </script>
    
  </form>

  
<script type="text/javascript" src="js/script.js"></script>


</body>


    

