@font-face {
  font-family: 'ubuntumedium';
  src: url("../fonts/ubuntu-m-webfont.eot");
  src: url("../fonts/ubuntu-m-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-m-webfont.woff2") format("woff2"), url("../fonts/ubuntu-m-webfont.woff") format("woff"), url("../fonts/ubuntu-m-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'ubuntu_condensedregular';
  src: url("../fonts/ubuntu-c-webfont.eot");
  src: url("../fonts/ubuntu-c-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ubuntu-c-webfont.woff2") format("woff2"), url("../fonts/ubuntu-c-webfont.woff") format("woff"), url("../fonts/ubuntu-c-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
* {
  margin: 0;
  padding: 0; }

body {
  font-family: Arial, sans-serif;
  background: #FFF; }

.wrapper {
  max-width: 1156px;
  margin: 0 auto; }

header {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  header .logo {
    width: 240px;
    margin: 37px 0; }
  header .hedaer-link {
    width: 200px; }

.header-sources__nav {
  overflow: hidden;
  display: flex;
  list-style: none; }

.header-sources__link {
  height: 21px;
  width: 20px;
  display: block;
  background: url("../img/medialinks.png") 0 0 no-repeat;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin: 10px; }
  .header-sources__link:hover {
    background-position: 0 -19px; }

.twitter {
  background-position: -34px 0; }
  .twitter:hover {
    background-position: -34px -20px; }

.rss {
  background-position: -65px 0; }
  .rss:hover {
    background-position: -65px -20px; }

.linkedln {
  background-position: -99px 0; }
  .linkedln:hover {
    background-position: -99px -20px; }

.skype {
  background-position: -131px 0; }
  .skype:hover {
    background-position: -131px -20px; }

.pre_header {
  background-color: #2a2d32;
  display: flex;
  justify-content: space-between; }

.menu {
  list-style: none;
  display: flex; }
  .menu :nth-child(2) {
    border-left: 1px solid #181a1d; }

.menu__list {
  padding: 20px 36px; }
  .menu__list:first-child {
    background-color: #248cec; }

.menu__list + .menu__list {
  border-right: 1px solid #181a1d; }

.menu__link {
  text-decoration: none;
  color: #fff;
  font-family: 'ubuntu_condensedregular';
  font-size: 14px; }
  .menu__link:hover {
    color: #f4b60d;
    cursor: pointer; }

.search {
  position: relative;
  padding-top: 9px;
  margin-right: 9px; }
  .search:before {
    content: url("../img/search.png");
    position: absolute;
    top: 22px;
    right: 12px; }

.search__line {
  padding: 12px;
  width: 239px;
  background-color: #35383c;
  border: 1px solid #181a1d;
  font-size: 12px;
  color: #626466; }

::-webkit-input-placeholder {
  color: #626466; }

.label {
  position: absolute;
  bottom: 37px;
  left: 37px; }

.about__post {
  display: flex;
  flex: 1 1 385px;
  margin-top: 10px;
  width: 34%; }

.about {
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  margin-top: 35px; }

.about__icon {
  background: url("../img/tools.png") 0 0 no-repeat;
  width: 34px;
  height: 35px; }

.about__icon_second {
  background-position: -55px 0; }

.about__icon_third {
  background-position: -110px 0; }

.about__row-number {
  font-size: 90px;
  font-family: "ubuntumedium";
  color: #efeff0;
  font-weight: 100;
  line-height: 59px; }

.about__header {
  font-family: "ubuntumedium";
  font-weight: 100;
  color: #2a2b2e;
  margin-top: 17px; }

.about__content {
  margin-left: 38px;
  display: flex;
  flex-flow: column wrap;
  width: 51%;
  max-width: 250px; }
  .about__content p {
    color: #8a8a8a;
    line-height: 18px;
    font-size: 13px;
    margin: 21px 0 26px; }

.link {
  display: block;
  position: relative;
  color: #2a2b2e;
  text-decoration: none;
  color: #2a2b2e;
  font-family: "ubuntumedium";
  font-size: 13px;
  font-weight: 700; }
  .link:after {
    content: url(../img/arrow_blue.png);
    position: absolute;
    left: 80px; }

.link:hover:after {
  color: #248cec;
  content: url(../img/arrow_grey.png); }

.link:hover {
  color: #5eabf1;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s; }

.wrapp {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #2a2d32;
  margin-top: 73px; }

.services {
  width: 86%;
  padding-bottom: 64px; }
  .services h2 {
    color: #fff;
    font-size: 24px;
    margin-top: 46px; }

.services__content:last-child {
  margin-right: 0; }

.services__header {
  text-align: center; }

.services-wrapp {
  display: flex;
  flex-wrap: wrap; }

.services__content {
  position: relative;
  margin: 10px;
  flex: 1 1 230px; }
  .services__content img {
    width: 100%;
    height: auto; }

.services__content:hover .services__content_overflow {
  display: block;
  cursor: pointer; }

.services__content_overflow {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 274px;
  background: rgba(55, 148, 218, 0.8); }
  .services__content_overflow:before {
    content: url("../img/plus1.png");
    position: absolute;
    top: 50%;
    margin-top: -19px;
    left: 50%;
    margin-left: -7px; }

.content__link {
  display: block;
  text-decoration: none;
  margin-top: 31px;
  font-family: "ubuntumedium";
  color: #fff; }
  .content__link:hover {
    color: #f4b60d;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }

.wrapper_middle {
  background-color: #f7f7f7; }

.main-article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f7f7f7;
  max-width: 1156px;
  margin: 0 auto; }

.latest-news {
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  width: 50%; }

.article-header {
  font-family: "ubuntumedium";
  font-weight: 100;
  font-size: 24px;
  color: #2a2b2e;
  margin-bottom: 28px; }

.news-post {
  display: flex;
  position: relative;
  margin-bottom: 29px; }
  .news-post img {
    width: 150px;
    height: 150px; }

.date {
  position: absolute;
  top: 11px;
  left: -17px; }

.date__month, .date__day {
  height: 38px;
  width: 38px;
  background-color: #248cec;
  color: #fff;
  text-align: center;
  padding-top: 10px;
  box-sizing: border-box;
  font-size: 15px;
  font-family: "ubuntumedium"; }

.date__day {
  background-color: #f4b60d; }

.news-content {
  margin-left: 34px; }
  .news-content h4 {
    margin-bottom: 10px; }

.content__link_black {
  color: #2a2b2e;
  margin-top: 0; }
  .content__link_black:hover {
    color: #248cec; }

h4 + .news-content__paragraph {
  margin-bottom: 34px; }

.news-content__paragraph {
  color: #8a8a8a;
  line-height: 18px;
  font-size: 13px; }
  .news-content__paragraph a {
    text-decoration: none;
    color: #0187f4; }

.banners-place {
  width: 46%;
  margin: 64px 0 0 41px; }

.banner-panel {
  list-style: none;
  width: 100%;
  display: flex;
  font-family: "ubuntumedium";
  background-color: #fff;
  font-size: 13px;
  cursor: pointer; }

.banner-panel__list {
  padding: 13px;
  text-transform: uppercase;
  border: 1px solid #e8e8e8; }

.banner-panel__list_small {
  width: 19px;
  position: relative; }
  .banner-panel__list_small:after {
    content: url("../img/plus.png");
    position: absolute;
    left: 42%;
    top: 25%; }

.banner-panel_active {
  background-color: #f4b60d;
  color: #fff;
  cursor: pointer; }
  .banner-panel_active .banner-panel__list {
    border: 1px solid #f6c53d; }
  .banner-panel_active .banner-panel__list_small:after {
    content: url(../img/minus.png);
    top: 20%; }

.banner-panel__list_small:hover:after {
  content: url(../img/minus.png); }

.banner-panel__list_big {
  width: 100%; }

.news-post_banner {
  margin-bottom: 5px; }

.partners {
  margin: 100px 0; }

.partners-list__item {
  margin-left: 4%;
  display: inline-block;
  vertical-align: middle; }
  .partners-list__item a {
    display: block;
    background: url("../img/partners.png") 0 0 no-repeat;
    width: 120px;
    height: 55px;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }

.moto a {
  background-position: -197px 0; }

.crave a {
  background-position: -415px 0;
  width: 150px; }

.atx a {
  background-position: -638px 0; }

.cruiser a {
  background-position: -841px 0; }

.gear a {
  background-position: -1020px 0;
  height: 60px; }

.pre-footer {
  background: #2a2d32; }

.footer-nav {
  display: flex;
  padding: 60px 0 80px 0; }
  .footer-nav ul {
    list-style: none; }

.footer-bl {
  flex: 1;
  margin-left: 4%; }

.footer-bl__link {
  text-decoration: none;
  color: #6e6f72;
  padding: 8px 0;
  display: block;
  font-size: 13px;
  border-bottom: 1px solid #393c40; }
  .footer-bl__link:hover {
    color: #248cec; }

.footer-bl li:nth-child(4) a {
  border-bottom: none; }

.footer-bl__header {
  color: #fff;
  font-family: "ubuntumedium";
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 46px; }

.footer-contacts {
  background: #35383c; }

footer {
  background: #35383c; }

.contacts {
  display: flex;
  padding: 23px 0 23px 6%;
  font-size: 12px;
  color: #6e6f72; }

.contacts__list {
  list-style: none;
  margin-right: 4%;
  position: relative; }
  .contacts__list:before {
    content: url(../img/location.png);
    position: absolute;
    left: -7%;
    top: -1px; }

.contacts__item {
  display: inline-block;
  margin-right: 9px; }

.contacts__phone {
  margin-right: 6%;
  position: relative; }
  .contacts__phone:before {
    content: url(../img/iPhone.png);
    position: absolute;
    left: -18%;
    top: -2px; }

.contacts__email {
  position: relative; }
  .contacts__email:before {
    content: url(../img/email.png);
    position: absolute;
    top: 1px;
    left: -25%; }

.news-post_banner {
  flex-wrap: wrap; }

.banner-panel__content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  height: 44px;
  transition: 0.6s; }

.active {
  transition: 0.6s;
  height: 213px; }

.banner-panel__article {
  font-size: 13px;
  color: #8a8a8a;
  width: 83%;
  margin: 25px 0 44px;
  line-height: 20px; }

/*# sourceMappingURL=main.css.map */
