@font-face {
    font-family: Tahoma;
    font-style: normal;
}
body{
     
    font-family: Tahoma;
    font-size: 14px;
}
.table{
    margin-left: 10px;
    min-width: 531px;
    
    
    
}
td{
    border:9px solid black;
    
}
.firstColumn td{
    height: 50px;
    width: 100px;

    border-top:none;
}
.secondColumn td{

    height: 126px;
    width: 120px;
}
.three td{

    height: 126px;
    width: 120px;
}

.fourColumn td{

    height: 65px;
    width: 120px;
}
.fiveColumn td{

     height: 65px;
     width: 120px;
}
.sixColumn td{
    height: 45px;
    width: 120px;
}
.sevenColumn td{
    height: 45px;
    width: 120px;
}

.red{
    background-color: red;
    width: 130px;
}

.yellow{
    background-color: yellow;
}
.black{
    background-color: black;

}
.blue{
    background-color: blue;
}
table tr td:first-child{
    width: 55px;
}

table tr td:nth-child(2){
    width: 135px;
}

table tr td:last-child{
    width: 80px;
}
