@font-face {
    font-family: 'Helvetica Neue';
    src: url('../font/helveticaneue-thin-webfont.eot');
    src: url('../font/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../font/helveticaneue-thin-webfont.woff') format('woff'),
         url('../font/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
body{
    font-family:"Helvetica Neue";
    background: url(../img/ground.png) no-repeat center top;
    background-size: cover;
    font-size: 14px;
}

.clearfix:after{
    content:'';
    display: block;
    clear:both;
}

        /*  HEADER*/

.header_menu{
    background-color: #074c89;
    background-image: url(../img/%D0%91%D0%B5%D0%B7%D0%B8%D0%BC%D0%B5%D0%BD%D0%B8-8.png);
   }
.wrapp{
    float: right;
    margin-right: 20px;
}
.left_side{
    float: left;
    margin-right: 20px;
}
.left_side li{
    display: inline-block;
    }
.left_side li a{
    float: left;
    position: relative;
    display: block;
    text-decoration: none;
    color: #60b5ed;
    padding: 0 20px;
    line-height: 40px;
}
.left_side li a:hover{
    background-color: #4eabda;
    color: #ffffff;
}
.img_line:after{
    content:"";
    width:1px;
    height:32px;
    top:5px;
    right: -1px;
    position: absolute;
    background-color: #60b5ed;
}

.right_first {
    float: left;
    display: block;
    position: relative;
    color: white;
    line-height: 42px;
    text-decoration: none;
    padding-right: 14px;
    padding-left: 32px;
    margin-right: 4px;
}
.right_first:before{
    content:url(../img/flag.png);
    position: absolute;
    top: 7px;
    left: 3px;
}

.right_second{
    float: left;
    display: block;
    color: white;
    line-height: 42px;
    padding:0 10px 0 10px;
    background: -webkit-linear-gradient(top, rgba(98,192,227,1) 15%,rgba(47,123,197,1) 81%);
}
.right_second a{
    color: white;
}
.right_first:hover{
    background: -webkit-linear-gradient(top, rgba(98,192,227,1) 15%,rgba(47,123,197,1) 81%);
}


    /*Form*/

.registration{
    width: 560px;
    margin: 212px auto;
    background-color: rgba(00, 00, 00, 0.6);
}
.form_lines{
    display: block;
}
    h1{
        line-height: 60px;
        font-size: 24px;
        color: white;
        text-align: center;
        border-bottom: 2px solid #c2cabb;
}
.form{
    width: 276px;
    margin: 0 auto;
    color:#cccccc;
    text-align: center;

}
.facebook{
    border-radius: 4px;
    background: linear-gradient(to bottom, rgba(60,85,152,1) 0%, rgba(60,85,152,1) 12%, rgba(49,71,121,1) 100%);
    margin:34px 0 31px 0;
    border-top: 1px solid #7587b7;
}
.button_facebook{
    position: relative;
    background: url(../img/fb.png) 14px center no-repeat;
    line-height: 40px;
    display:block;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding-left:14px;
}
.button_facebook span{
    font-weight: bold;
}

.button_facebook:before{
    content: "";
    position: absolute;
    width: 1px;
    height: 40px;
    left:42px;
    background-color: #223c6d;
    border-right: 1px solid #4c68a9;
}
.button_facebook:after{
    content: url(../img/arrow.png);
    position: absolute;
    top: 3px;
    right: 26px;
}
.form_lines{
    width: 100%;
    min-height: 34px;
    background-color: #100f0f;
    border:none;
    border-bottom: 1px solid #484948;
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 16px;
}
input{
    color:white;
    
}
input::-webkit-input-placeholder {
    padding-left: 20px;
   color:#cccccc;
}
.form_lines:focus{
    background-color: #1b5288;
    color: #d3d7e1;
    box-shadow: 0px 0px 5px 5px rgba(74,134,174,0.77);
    
}
     .checkbox{
    display:block;
    text-align: left;
    margin-bottom: 22px;
}
.submit{
    margin: 10px auto;
    border-radius: 3px;
    width: 150px;
    min-height: 40px;
    font-size: 14px;
    color: white;
    background-color: #2F7BC5;
    border:none;
/*    background: -webkit-linear-gradient(top, rgba(98,192,227,1) 26%,rgba(47,123,197,1) 100%);*/
    background: -webkit-linear-gradient(top, rgba(98,192,227,1) 15%,rgba(47,123,197,1) 81%);
    cursor: pointer;
}
.note{
    font-size: 11px;
    padding: 15px 0 20px 0;
    
}   

       /* Form > line*/
.line{
    position: relative;
    overflow: hidden;
    color: #999999;
    padding-bottom: 26px;
}
.line > span {
    display: inline-block;
    margin: 0 .4em;
  }
  .line > span:before,
  .line > span:after {
    content: '';
    position: absolute;
    width: 100%;
    border-top: 1px solid #666666;
    margin-top: .6em;
    border-bottom: 1px solid black;
    
  }
  .line > span:before {
    margin-left: -102%;
  }
  .line > span:after {
    margin-left: 2%;
  }
