$icon-width: 20px;
$icon-height: 21px;
$icon: url('../img/medialinks.png');
$fontCol : #2a2b2e;
$paragraph-color: #8a8a8a;
$borderCol: #181a1d;
$ubuntu-font: 'ubuntumedium';
$linkHover: #f4b60d;
$link-color:#248cec;
