/*
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../font/helveticaneue-thin-webfont.eot');
    src: url('../font/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../font/helveticaneue-thin-webfont.woff') format('woff'),
         url('../font/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
*/
body{
    font-family:"Helvetica Neue", Arial, Verdana; 
    font-size: 14px;
    background-color: white;
}

.main_form{
    width: 909px;
    background-color: white;
    margin:0 auto;
}
.clearfix:after{
    content:'';
    display:block;
    clear: both;
}
               /* HEADER*/

.contacts{
    float: left;
    margin-top: 22px;
    position: relative;
    padding-left: 28px;
}
.contacts:before{
    content: url(../img/phone.png);
    position: absolute;
    top: 5px;
    left: 2px;
}
.contacts {
    font-size: 18px;
    color: #5e696d;
    line-height: 30px;
    letter-spacing: 0.03em;
    }


.enter{
    position: relative;
    background: linear-gradient(to bottom, rgba(29,97,129,1) 0%, rgba(29,97,129,1) 17%, rgba(14,55,91,1) 72%, rgba(14,55,91,1) 100%);
    float: left;
    border-radius: 4px;
    padding: 5px 5px 3px 5px;
    margin: 22px 0 3px 15px;
    font-size: 13px;
    box-shadow: 5px 7px 5px -5px rgba(140,133,140,1);
}
.enter:before{
    content: url(../img/logo.png);
    position: absolute;
}
.enter form{
    float: left;
    padding-left: 19px;
}
.enter input{
    width:114px;
    margin-right: 2px;
    border-radius: 1px;
    border: none;
}
.enter input::-webkit-input-placeholder {
    padding-left: 5px;
    font-size: 11px;
    color:#97a2a6;
}
.batton_enter{
    font-size: 11px;
    text-decoration: none;
    color: white;  
    margin-left: 4px;
}
.reg{
    font-size: 11px;
    float:left;
    padding-top: 4px;
    position: relative;
}
.batton{
    
    float: left;
    text-decoration: none;
    color: white;
    padding-left:13px;
}
.reg:before{
    position: absolute;
    content: "";
    height:11px;
    width:1px;
    top:24%;
    left:5px;
    background-color: white;
}
 .forget{
     padding: 0 8px 0 20px;
     color: #bfbfbf;
     text-decoration: none;
    font-size: 12px;
    padding-right: 8px;
    padding-left: 24px;
}
.forget:hover{
    text-decoration: underline;
}
nav{
    float: left;
    padding: 3px 6px 6px 4px;
    border: 1px solid #c1c8cb;
    border-radius: 10px;
    margin:24px 0 10px 17px;
    box-shadow: 3px 6px 5px -6px rgba(140,133,140,1);
}
.nav{
    position:relative;
}
.nav li{
    float:left;
    padding-left: 2px;
}
.nav a{
    height: 10px;
    width: 18px;
    display: block;
    background: url(../img/nav.png) 0 0 no-repeat;
}
.nav .map{
    background-position: -20px 0;
}
.nav .mail{
    background-position: -40px 0;
    padding-right:3px;
}
.baner{
    margin-bottom: 5px;
}
               /*MAIN MENU*/

main{
    background-color: black;
    border-radius: 5px;
    margin-bottom: 16px;
    box-shadow: 6px 9px 9px -5px rgba(140,133,140,1);
}
.menu{
    float: left;
    margin-left: 137px;
}
.menu li{
    display: inline-block;
}
.menu li a{
    display:block;
    color:#b1bcc0;
    cursor: pointer;
    padding:9px 13px 10px 10px;
}

.menu li a:hover{
    background: linear-gradient(to bottom, rgba(31,101,133,1) 0%, rgba(31,101,133,1) 41%, rgba(13,54,90,1) 100%);
    border-radius: 20px;
    padding: 5px 13px 6px 10px;
    color: #ffffff;
}

.buy {
   float: right;
    position: relative;
    margin-right: 9px;
}
.buy li{
    display:inline-block;
    color:#b1bcc0;
    line-height: 33px;
    padding-left:8px;
    font-size: 12px;
}
.buy_img:before{
    content: url(../img/buy.png);
    position: absolute;
    top: 4px;
    left: -18px;
}
.buy li:last-child{
    padding-right:15px;
}
.buy span{
    color:#0d5a8f;
    font-size: 12px;
}

         
                         /*CONTENT*/

.catalog,
.brands{
    float: left;
    width: 21%;
}
.heading{
    display:inline-block;
    position: relative;
    border:1px solid #79878d;
    border-radius: 20px;
    font-size: 13px;
    color: #114165;
    margin:4px 0 13px 0;
    box-shadow: 2px 6px 5px -5px rgba(140,133,140,1);
     padding: 7px 4px 5px 28px;
}
.heading:before{
    content: url(../img/copy.png);
    position: absolute;
    left: 3px;
    top: 0px;
   
}


       /*First Column*/
.heading_staff{
    display: inline-block;
    border:1px solid #79878d;
    position: relative;
    line-height: 26px;
    border-radius: 20px;
    font-size: 14px;
    padding-left: 29px;
    padding-right: 75px;
/*    margin-bottom: 8px;*/
    color: #114165;
}
.heading_staff:before{
    content: url(../img/round.png);
    position: absolute;
    top: 1px;
    left: 5px;
}

.catalog ul li a{
    color: #465961;
    font-size: 13px;
    line-height: 25px;
    list-style: circle;
    text-decoration: none;
}
.catalog ul{
  list-style-type: circle;
    padding-left:53px;
}
.catalog ul li a:hover{
    
    color:#0c3256;
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
}
                         /*Second Column*/
.main_content{
    width: 58%;
    float: left;
    background: linear-gradient(to bottom, rgba(228,231,232,1) 0%, rgba(228,231,232,1) 17%, rgba(148,167,176,1) 73%, rgba(148,167,176,1) 100%);
    margin-right: 9px;
}


.main_content figure{
    display: inline-block;
    margin: 14px 0 28px 24px;
}
.main_content p{
    margin-left:37px;
    color:#206988;
    font-size: 15px;
    font-weight: bold;
}
.main_content .span{
    text-align: center;
    font-size: 14px;
    font-family: Arial;
}
.main_content .third_img{
    margin-bottom: 29px;
}
.main_content .price{
    color: #114165;
    font-style: italic;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
        margin-left: 16px;
}
                           /*Third Column*/
.brands{
    width: 20%;
}
.brands label{
    display: block;
    font-size: 13px;
    color: #465961;
}
.brands form{
    margin:6px 0 9px 21px;
    line-height: 24px;
}
.right_table{
    padding-right: 91px;
    padding-top: 7px;
    margin-top: 3px;
}
.brands .second{
    padding-right: 61px;
}
.brands .second{
    margin-left: 14px;
}
.choose{
    margin-top: 14px;
    padding: 7px 16px 7px 17px;
    color:white;
    background: linear-gradient(to bottom, rgba(29,97,129,1) 0%, rgba(29,97,129,1) 17%, rgba(14,55,91,1) 72%, rgba(14,55,91,1) 100%);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 11px;
    box-shadow: 4px 8px 7px -7px rgba(140,133,140,1);
}
                               /*PARTNERS*/
.partners{
    margin: 44px 0 19px 0;
    position: relative;
    text-align: center;
}
.partners__item{
    margin-left: 12px;
    display: inline-block;
    vertical-align: middle;
}

.partners__item a{
    display:block;
    transition: 0.2s all;
}
.cooper a{
    width: 59px;
    height: 21px ;
    background: url(../img/img4.png) 0 0 no-repeat;
}
.cooper a:hover{
    background-position: 0 -21px;
}
.toyo a{
    width: 83px;
    height: 22px ;
    background: url(../img/img1.png) 0 0 no-repeat;
}
.toyo a:hover{
    background-position: 0 -23px;
}
.bridge a{
    width: 97px;
    height: 15px ;
    background: url(../img/img2.png) 0 0 no-repeat;
}
.bridge a:hover{
    background-position: 0 -16px;
}
.continental a{
    width: 77px;
    height: 22px ;
    background: url(../img/img3.png) 0 0 no-repeat;
}
.continental a:hover{
    background-position: 0 -22px;
}
.avon a{
    width: 77px;
    height: 15px ;
    background: url(../img/img5.png) 0 0 no-repeat;
}
.avon a:hover{
    background-position: 0 -15px;
}
.tfactory a{
    width: 57px;
    height: 29px ;
    background: url(../img/img6.png) 0 0 no-repeat;
}
.tfactory a:hover{
    background-position: 0 -29px;
}
.firelli a{
    width: 61px;
    height: 16px ;
    background: url(../img/img7.png) 0 0 no-repeat;
}
.firelli a:hover{
    background-position: 0 -16px;
}
.dunlop a{
    width: 72px;
    height: 14px ;
    background: url(../img/img8.png) 0 0 no-repeat;
}
.dunlop a:hover{
    background-position: 0 -15px;
}




                              /*FOOTER*/
footer{
    background-color: #213a4d;
}
footer ul{
    text-align: center;
    margin-right: 2px;
}
footer ul li{
    position: relative;
    display: inline-block;
    margin: 3px 0 6px 0;
}
footer ul li a{
    display: block;
    color: #bec6c9;
    font-size: 12px;
    line-height: 30px;
    text-decoration: none;
    margin-left:16px;
}
footer ul li a:after{
    content: "";
    width: 2px;
    height: 11px;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: -10px;
    background-color: #bec6c9;
}
.footer_link:after{
    content: none;
}
footer ul li a:hover{
    color:#52abcb;
}
footer p{
    font-family: Arial;
    font-size: 10px;
    color: #7f4740;
    text-align: center;
    padding-bottom: 50px;
}