<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>URLAUBSGLÜCK</title>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:700,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="dist/css/reset.css">
    <link href="dist/css/style.min.css" rel="stylesheet">
    <script src="dist/js/respond.min.js"></script>
    <!--[if lte IE 8]>
	  <script type="text/javascript" src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	  <![endif]-->
  </head>
  <body>
    <div class="wrapper">
   <div class="header clearfix">
     <div class="clearfix">
     <div class="sign-form">
       <button class="sign-form__btn" type="button" name="log-in">Log in</button>
       <button class="sign-form__btn sign-form__btn--border" type="button" name="sign-up">Sign up</button>
     </div>
     <div class="name">URLAUBSGLÜCK</div>
     </div>
     <div class="header-title">
       <h2 class="header-title__header">Share your<br>holiday dreams</h2>
       <p class="header-title__paragraph">And find the perfect partner to fullfill it</p>
     </div>
   <button class="btn" type="button" name="go">Find your holiday partner</button>
 </div>

 <div class="main">
   <h3 class="main__title">How Urlaubsglück works?</h3>
   <div class="main-wrapp clearfix ">
   <div class="post post--first">
     <div class="post__content post__content--mobile">
     <div class="post__step">Step 1</div>
     <h3 class="post__header">Sed leo enim,<br>condimentum</h3>
     <p class="post__paragraph">Quisque libero libero, dictum non turpis in, luctus semper lorem.
       Donec rhoncus a leo sit amet facilisis.</p>
   </div>
     <div class="flexslider">
    <ul class="slides">
      <li>
        <div class="post__content">
        <div class="post__step">Step 1</div>
        <h3 class="post__header">Sed leo enim,<br>condimentum</h3>
        <p class="post__paragraph">Quisque libero libero, dictum non turpis in, luctus semper lorem.
          Donec rhoncus a leo sit amet facilisis.</p>
      </div>
      </li>
      <li>
        <div class="post__content">
        <div class="post__step">Step 2</div>
        <h3 class="post__header">Morbi velit risus</h3>
        <p class="post__paragraph">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
      </div>
      </li>
      <li>
        <div class="post__content">
        <div class="post__step">Step 3</div>
        <h3 class="post__header">Sed leo enim,<br>condimentum</h3>
        <p class="post__paragraph">Quisque libero libero, dictum non turpis in, luctus semper lorem.
           Donec rhoncus a leo sit amet facilisis.</p>
      </div>
      </li>
    </ul>
  </div>
   </div>
   <div class="post post--second">
     <div class="post__content post__content--mobile">
     <div class="post__step">Step 2</div>
     <h3 class="post__header">Morbi velit risus</h3>
     <p class="post__paragraph">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
   </div>
   <div class="flexslider">
  <ul class="slides">
    <li>
      <div class="post__content">
      <div class="post__step">Step 2</div>
      <h3 class="post__header">Morbi velit risus</h3>
      <p class="post__paragraph">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
    </div>
    </li>
    <li>
      <div class="post__content">
      <div class="post__step">Step 3</div>
      <h3 class="post__header">Sed leo enim,<br>condimentum</h3>
      <p class="post__paragraph">Quisque libero libero, dictum non turpis in, luctus semper lorem.
         Donec rhoncus a leo sit amet facilisis.</p>
    </div>
    <li>
      <div class="post__content">
      <div class="post__step">Step 1</div>
      <h3 class="post__header">Sed leo enim,<br>condimentum</h3>
      <p class="post__paragraph">Quisque libero libero, dictum non turpis in, luctus semper lorem.
        Donec rhoncus a leo sit amet facilisis.</p>
    </div>
    </li>
    </li>
  </ul>
</div>
   </div>
   <div class="post post--third">
     <div class="post__content post__content--mobile">
     <div class="post__step">Step 3</div>
     <h3 class="post__header">Sed leo enim,<br>condimentum</h3>
     <p class="post__paragraph">Quisque libero libero, dictum non turpis in, luctus semper lorem.
        Donec rhoncus a leo sit amet facilisis.</p>
   </div>
   <div class="flexslider">
  <ul class="slides">
    <li>
      <div class="post__content">
      <div class="post__step">Step 3</div>
      <h3 class="post__header">Sed leo enim,<br>condimentum</h3>
      <p class="post__paragraph">Quisque libero libero, dictum non turpis in, luctus semper lorem.
         Donec rhoncus a leo sit amet facilisis.</p>
    </div>
    </li>
    <li>
      <div class="post__content">
      <div class="post__step">Step 1</div>
      <h3 class="post__header">Sed leo enim,<br>condimentum</h3>
      <p class="post__paragraph">Quisque libero libero, dictum non turpis in, luctus semper lorem.
        Donec rhoncus a leo sit amet facilisis.</p>
    </div>
    </li>
    <li>
      <div class="post__content">
      <div class="post__step">Step 2</div>
      <h3 class="post__header">Morbi velit risus</h3>
      <p class="post__paragraph">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
    </div>
    </li>
  </ul>
</div>
   </div>
   </div>
   <h3 class="main__title main__title--modific">Meet a partner for your best holiday</h3>
   <div class="partners_wrapp clearfix">
   <div class="partners">
     <div class="partners__img">
     <img src="dist/img/prt1.png"/>
     <span class="icon"></span>
     </div>
     <h4 class="partners__name">Bradley Hunter</h4>
     <p class="partners__message">Based in Chicago. I love playing tennis and loud music.</p>
   </div>
   <div class="partners">
     <div class="partners__img">
       <img src="dist/img/prt3.png"/>
       <span class=" icon icon--second"></span>
     </div>
     <h4 class="partners__name">Lucas Marsha</h4>
     <p class="partners__message">I get my inspiration from nature and objects around me.
        I have a passion to colours, typography and skateboards.
    </p>
   </div>
   <div class="partners">
     <div class="partners__img">
       <img src="dist/img/prt2.png"/>
       <span class=" icon icon--third"></span>
     </div>
     <h4 class="partners__name">Heather Walker</h4>
     <p class="partners__message">I'm a happy person that loves cats and climbing on mountains.</p>
   </div>
   <div class="partners">
     <div class="partners__img">
       <img src="dist/img/prt4.png"/>
       <span class=" icon icon--forth"></span>
     </div>
     <h4 class="partners__name">Bradley Hunter</h4>
     <p class="partners__message">Based in Chicago. I love playing tennis and loud music.</p>
   </div>
   </div>
   <button class="btn btn--partners" type="button" name="other">See other partners</button>
 </div>
  <div class="ideas">
    <h3 class="main__title main__title--modific">Discover holiday activity ideas</h3>
    <div class="grid clearfix">
       <div class="grid-item grid-item--bg1"><span class="puzzle-title">Sport and Activity</span></div>
       <div class="grid-item grid-item--bg2"><span class="puzzle-title">Wellnes and Health</span></div>
       <div class="grid-item grid-item--bg3"><span class="puzzle-title">Extreme Sports<br>and Expeditions</span></div>
       <div class="grid-item grid-item--bg4"><span class="puzzle-title">Games</span></div>
       <div class="grid-item grid-item--width2 grid-item--bg5"><span class="puzzle-title">Culture and Education</span></div>
       <div class="grid-item grid-item--width2 grid-item--bg6"><span class="puzzle-title">Relaxation</span></div>
       <div class="grid-item grid-item--bg7"><span class="puzzle-title">Travelling</span></div>
    </div>
   </div>

 <div class="search-partners">
   <h3 class="main__title main__title--modific">Discover holiday activity ideas</h3>
   <p class="search-partners__paragraph">Hi! What are your holiday interests?</p>
   <form action="" class="search">
     <input type="text" class="interests" name="interests" placeholder="Enter your interests">
     <input class="btn btn--search" type="submit" name="name" value="Search partners">
   </form>
 </div>
 <div class="footer clearfix">
   <div class="name name--footer">URLAUBSGLÜCK</div>
   <div class="nav">
     <h6 class="nav__header">Company</h6>
     <ul class="menu">
       <li class="menu__item"><a href="" class="menu__link">About</a></li>
       <li class="menu__item"><a href="" class="menu__link">Contacts</a></li>
       <li class="menu__item"><a href="" class="menu__link">Press</a></li>
       <li class="menu__item"><a href="" class="menu__link">Blog</a></li>
     </ul>
   </div>
   <h6 class="nav__header">Partners</h6>
   <div class="designed">
     <p class="designed__title">Designed By</p>
     <img src="dist/img/logo.png">
   </div>
 </div>
   </div>

   <script type="text/html" id ="grid-template">
   		<div class="grid clearfix">
   			<% for (var i =0; i<images.length; i++) { %>
   				<div class="grid-item
   				<% if ((i==5)||(i==4)){%>
   					grid-item--width2
   					<%}%>" style ="background: url(<%=images[i].imageurl%>) center no-repeat; background-size: 100% 100%">
   					<span class="puzzle-title"><%=images[i].word%></span>
   				</div>
   			<%}; %></div>
   	</script>
<script src="dist/js/build.min.js"></script>
  </body>
