@font-face {
  font-family: 'pt_serifregular';
  src: url("../fonts/ptf55f-webfont.eot");
  src: url("../fonts/ptf55f-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ptf55f-webfont.woff2") format("woff2"), url("../fonts/ptf55f-webfont.woff") format("woff"), url("../fonts/ptf55f-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'pt_serifbold';
  src: url("../fonts/ptf75f-webfont.eot");
  src: url("../fonts/ptf75f-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ptf75f-webfont.woff2") format("woff2"), url("../fonts/ptf75f-webfont.woff") format("woff"), url("../fonts/ptf75f-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/helveticaneue-thin-webfont.eot");
  src: url("../fonts/helveticaneue-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneue-thin-webfont.woff2") format("woff2"), url("../fonts/helveticaneue-thin-webfont.woff") format("woff"), url("../fonts/helveticaneue-thin-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
* {
  list-style: none; }

body {
  font-family: 'pt_serifregular', Arial, sans-serif;
  background-color: #fff; }

/*----HEADER----*/
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 17px 3%; }

.menu__list {
  display: inline-block; }

.link {
  font-family: 'Helvetica Neue';
  color: #5b5f5e;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 17px 10px 17px; }
  .link:hover {
    color: #f58220;
    transition: all 0.2s; }

.link_orange:hover, .link_connect {
  color: #fff;
  border-radius: 3px;
  background: #f37221;
  background: -moz-linear-gradient(top, #f37221 0%, #f9a01b 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #f37221), color-stop(100%, #f9a01b));
  background: -webkit-linear-gradient(top, #f37221 0%, #f9a01b 100%);
  background: -o-linear-gradient(top, #f37221 0%, #f9a01b 100%);
  background: -ms-linear-gradient(top, #f37221 0%, #f9a01b 100%);
  background: linear-gradient(to bottom, #f37221 0%, #f9a01b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f37221', endColorstr='#f9a01b', GradientType=0 );
  transition: all 0.3s; }

.clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../img/bg_1.png);
  -webkit-box-shadow: inset 0px 6px 7px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0px 6px 7px 0px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0px 6px 7px 0px rgba(0, 0, 0, 0.6);
  padding-top: 33px; }

.clients__header {
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  letter-spacing: 1px;
  font-weight: 500; }
  .clients__header span {
    color: #f58220; }

.clients__gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px; }

.client {
  position: relative; }
  .client img {
    display: block;
    margin: 1px; }

.client__header a {
  position: absolute;
  text-decoration: none;
  color: #fff;
  bottom: 16px;
  width: 42%;
  right: 11px;
  text-align: right; }

.black_line {
  background-color: #231f20;
  height: 19px;
  width: 100%; }

.connect {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 49px;
  padding-bottom: 15px;
  background: url(../img/bg2.png); }
  .connect img {
    width: 100%; }

.connect__clients {
  margin-right: 2%;
  position: relative; }

.link_connect {
  text-transform: uppercase;
  padding: 6px 24px;
  margin-top: 9px;
  letter-spacing: 1px; }
  .link_connect:hover {
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px; }

.header {
  font-size: 24px;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 1px; }
  .header span {
    color: #5b5f5e; }

.connect__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 492px;
  height: 219px;
  box-sizing: border-box;
  padding-top: 33px;
  text-align: center; }

.connect__form_left {
  position: absolute;
  top: 74px;
  left: -14%;
  background-image: url(../img/rec_left.png); }

.paragraph {
  font-size: 18px;
  line-height: 22px;
  width: 71%;
  font-family: 'Helvetica Neue';
  font-weight: 600; }

.connect__suppliers {
  position: relative;
  margin-right: 2%; }

.connect__form_right {
  position: absolute;
  top: 74px;
  right: -19%;
  background-image: url(../img/rec_rigth.png); }

.about-content {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 11%; }

.wrapp {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding-top: 60px; }

.paragraph_about {
  width: 72%;
  margin: 35px 0 54px;
  text-align: center; }
  .paragraph_about span {
    color: #5b5f5e; }

.about__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 29%;
  margin-left: 4%; }

.about__header {
  font-size: 24px;
  width: 34%; }

.about__paragraph {
  font-family: 'Helvetica Neue';
  font-weight: 600;
  margin-top: 0px;
  width: 94%; }

.about__paragraph_quality {
  align-self: flex-start; }

.about__link {
  display: block;
  width: 100px;
  height: 100px; }
  .about__link:hover {
    background-position: -105px 0; }

.shop {
  background: url(../img/1.png) 0 0 no-repeat; }

.quality {
  background: url(../img/2.png) 0 0 no-repeat; }

.diversity {
  background: url(../img/3.png) 0 0 no-repeat; }
  .diversity:hover {
    background-position: -108px 0; }

.approach {
  background: url(../img/4.png) 0 0 no-repeat; }

.complianc {
  background: url(../img/5.png) 0 0 no-repeat; }

.process {
  background: url(../img/6.png) 0 0 no-repeat;
  width: 108px; }
  .process:hover {
    background-position: -112px 0; }

.line {
  width: 2px;
  background: #adaeae;
  height: 46px;
  margin: 0 20px; }

.line_second {
  height: 20px; }

.contacts {
  background: url(../img/bg_1.png); }
  .contacts h5 {
    color: #adaeae; }

.paragraph_contacts {
  color: #fff;
  width: 72%;
  margin: 35px 0 54px;
  text-align: center; }

.contacts_grey {
  color: #adaeae;
  font-family: "pt_serifregular"; }

.contacts-content__item {
  font-family: 'Helvetica Neue';
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  line-height: 24px; }

.contacts-content__list {
  padding: 0; }

.paragraph_contacts_inner {
  text-align: left;
  width: 70%;
  margin: 17px 0 0 0; }

.contacts-map {
  margin-top: 25px; }
  .contacts-map img {
    width: 100%; }

.contacts-content {
  display: flex;
  align-self: flex-start;
  flex-wrap: wrap;
  padding-bottom: 6%; }

.contacts-content__data {
  display: flex;
  flex-direction: column;
  width: 51%; }

.contacts-content__form {
  display: flex;
  flex-direction: column;
  width: 41%;
  padding-left: 7%; }

.link_contcts {
  color: #fff;
  text-decoration: underline;
  letter-spacing: 1px; }

.form-item {
  outline: none;
  border: none;
  padding: 15px;
  margin-bottom: 13px; }
  .form-item:focus {
    -webkit-box-shadow: 0px 0px 9px 0px white;
    -moz-box-shadow: 0px 0px 9px 0px white;
    box-shadow: 0px 0px 9px 0px white; }

textarea {
  height: 289px; }

.btn-label {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: #adaeae;
  font-family: 'Helvetica Neue';
  font-weight: 600;
  margin-top: 20px; }

.btn-send {
  padding: 13px 28px;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  font-family: 'Helvetica Neue';
  letter-spacing: 1px;
  margin-right: 9%; }
  .btn-send:hover {
    color: #f58220;
    border: 1px solid #f58220; }

.request {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../img/pre_footer.png) top center no-repeat;
  background-size: auto;
  height: 410px;
  padding-top: 104px;
  box-sizing: border-box; }

.header__pre-footer {
  color: #fff;
  line-height: 39px; }

.link_request {
  display: block;
  width: 190px;
  text-align: center;
  font-size: 17px;
  padding: 17px;
  margin-top: 27px; }
  .link_request:hover {
    padding: 20px 17px 20px 17px; }

footer {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  padding: 40px 3%;
  background: #5b5f5e; }

footer:after{
  content: url(../img/glob.png);
  position:absolute;
  margin-left: auto;
    margin-right: auto;
    display: flex;
    left: 0;
    justify-content: center;
    right: 0;
    bottom: 0;
}
.menu_footer {
  display: flex;

  flex-wrap: wrap;
  padding: 0; }

.link_footer {
  color: #fff;
  font-size: 16px;
  padding: 10px 14px 10px 14px; }
  .link_footer:hover {
    color: #5b5f5e;
    background-color: #fff;
    border-radius: 3px; }

.media {
  display: flex;
  flex-direction: column;
  width: 25%; }

.paragraph_footer {
  color: #adaeae;
  font-size: 16px;
  width: 90%;
  margin: 0; }
  .paragraph_footer a {
    color: #fff;
    letter-spacing: 1px; }

.paragraph_footer_uppercase {
  text-transform: uppercase;
  width: 31%; }

.goriz_line {
  height: 1px;
  width: 100%;
  background-color: #adaeae;
  margin: 8px 0; }

.media__links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 90%; }

.media-nav {
  display: flex;
  position: relative;
  overflow: hidden;
  margin: 0; }

.media-nav__link {
  width: 35px;
  height: 36px;
  display: block;
  background: url(../img/media.png) 0 0 no-repeat;
  transition: all 0.2s;
  margin-right: 22px; }
  .media-nav__link:hover {
    background-position: 0 -45px; }

.twitter {
  background-position: -57px 0; }
  .twitter:hover {
    background-position: -57px -45px; }

.instagram {
  background-position: -114px 0;
  margin-right: 0; }
  .instagram:hover {
    background-position: -114px -45px; }


/*# sourceMappingURL=main.css.map */
