@import "fonts";
@import "variables";

body {
  background: #fff;
  font-family: 'robotolight', Arial, sans-serif;
}
.wrapper{
    min-width: 320px;
    // max-width: 767px;
    margin: 0 auto;
}
.clearfix:after{
    content:"";
    display: block;
    clear: both;
}

// Header
.header{
  background: url(../img/bg1.png) top center;
  background-size: cover;
  color: $colorW;
  font-family: $fontBold;
  text-align: center;
  padding:18px 0 138px 0;
}
.sign-form{
  &__btn{
    @include btn;
    font-family: $fontBold;
    color: $colorW;
    font-size: 14px;
    &--border{
      border: 2px solid $colorW;
      border-radius: 20px;
      padding: 7px 5%;
    }
  }
}

.btn{
    @include btn;
    margin-top: 11px;
    background: $colorPink;
    padding: 10px 35px;
    border-radius: 35px;
    color: $colorW;
    font-family: $fontBold;
    font-size: 14px;
}
.name{
  margin: 118px 0 32px;
  font-weight: 900;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.header-title{
  &__header{
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 34px;
  }
  &__paragraph{
    font-size: 18px;
    font-family: 'robotolight', sans-serif;
    width: 75%;
    margin: 13px auto 0;
    line-height: 23px;
  }
}
// MAIN
.main{
  text-align: center;
  &__title{
   font-family: $fontBold;
   font-size: 22px;
   font-weight: bold;
   color: $fontColor;
   margin: 38px 0 17px;
 }
}
.post{
  position: relative;
  max-width: 298px;
  margin: 0 auto;
  border-radius: 3px;
  padding-top: 69px;
  text-align: initial;
  min-height: 172px;
  &__step{
    font-size: 10px;
    font-family: 'robotoregular';
    text-transform: uppercase;
    background-color: $colorPink;
    color: #fff;
    letter-spacing: 2px;
    padding: 5px;
    width: 20%;
    border-radius: 20px;
    margin-left:7%;
    text-align: center;
  }
  &__header{
    color:$colorW;
    font-family: $fontBold;
    font-size: 24px;
    line-height: 28px;
    margin: 13px 0 0 7%;
  }
  &__paragraph{
    color:#cccccc;
    font-size: 15px;
    line-height: 19px;
    width: 91%;
    margin: 13px 0 10px 7%;
    padding-bottom: 10px;
    max-width: 280px;
  }
  &--first{
    background: url(../img/sl1.png) center no-repeat;
    background-size: cover;
  }
  &--second{
    background: url(../img/sl2.png) center no-repeat;
    background-size: cover;
  }
  &--third{
    background: url(../img/sl3.png) center no-repeat;
    background-size: cover;
  }
}
// Flexslider
.flexslider{
  display: none;
}
.flex-control-paging{
  display: none;
}
.flex-prev,
.flex-next{
  display:none;
}
//--- PARTNERS
.partners{
    margin-bottom: 28px;
  &__img{
    position:relative;
    width: 124px;
    margin: 0 auto;
  }
  &__name{
    font-family: $fontBold;
    color: $fontColor;
    font-weight: 900;
    font-size: 15px;
    margin:17px 0 15px 0;
  }
  &__message{
    color:#666666;
    font-size: 14px;
    width: 73%;
    max-width: 233px;
    line-height: 16px;
    margin: 0 auto;
  }
}
.main__title--modific{
  width: 90%;
  max-width: 350px;
  margin: 38px auto 17px;
}
.icon{
  display:block;
  position: absolute;
  bottom: -2px;
  right: 0;
  background: url(../img/spr.png) 0 0 no-repeat;
  width:41px;
  height:41px;
  &--second{
    background-position: -85px 0;
  }
  &--third{
    background-position: -41px 0;
  }
  &--forth{
    background-position: -128px 0;
  }
}
.btn--partners{
  background: $colorW;
  color: $colorPink;
  border: 2px solid $colorPink;
  margin: 0 0 14px;
}
// IDEAS
.ideas{
  text-align: center;
}
// Search-Partners
.search-partners{
  text-align: center;
  border-bottom: 4px solid $colorPink;
  &__paragraph{
   font-size: 18px;
   color: $fontColor;
   margin: 23px 0 19px;
  }
}
.interests{
  border: 1px solid #ccc;
  line-height: 37px;
  border-radius: 3px;
  font-size: 14px;
  padding: 0px 7%;
  width: 73%;
  max-width: 233px;
  display: block;
  margin: 0 auto;
}
.btn--search{
  width: 89%;
  max-width: 304px;
  margin-bottom: 40px;
}
// FOOTER
.footer{
  padding: 20px 0 17px;
  text-align: center;
}
.name--footer{
  color: $colorPink;
  font-family: $fontBold;
  font-size: 16px;
  margin:0;
}
.nav{
  &__header{
    font-family: $fontBold;
    font-size: 14px;
    color: $fontColor;
    font-weight: bold;
    margin:14px 0 4px 0;
  }
}
.menu{
  &__item{
    display:inline-block;
  }
  &__link{
    display:block;
    text-decoration: none;
    color: #666666;
    margin-right: 11px;
    font-size: 14px;
  }
}
.designed__title{
  font-family: $fontBold;
  color: #ccc;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 10px;
  margin: 17px 0 8px;
}
.puzzle-title{
  color: $colorW;
  font-family: $fontBold;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.5px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  &::first-letter{
    text-transform: uppercase;
  }
}
.grid{
  width: 50%;
  min-width: 314px;
  margin: 0 auto;
  max-width: 590px;
}
.grid-item {
  float: left;
  width:300px;
  height: 100px;
  margin:0 0 20px 11px;
  display: table;
  border-radius: 3px;
  background-size: cover;
  &--bg1{
    background: url(../img/ideas_bg1.jpg) no-repeat;
  }
  &--bg2{
    background: url(../img/ideas_bg2.jpg) no-repeat;
  }
  &--bg3{
    background: url(../img/ideas_bg3.jpg) no-repeat;
  }
  &--bg4{
    background: url(../img/ideas_bg4.jpg) no-repeat;
  }
  &--bg5{
    background: url(../img/ideas_bg5.jpg) no-repeat;
  }
  &--bg6{
    background: url(../img/ideas_bg6.jpg) no-repeat;
  }
  &--bg7{
    background: url(../img/ideas_bg7.jpg) no-repeat;
  }
 }

@media (min-width:768px){
  .wrapper{
    min-width: 768px;
    // max-width: 959px;
  }
  // HEADER
  .sign-form{
    float: right;
    margin:20px 55px 0 0;
    &__btn--border{
      padding: 7px 17px;
    }
  }
  .header{
    padding: 18px 0 31%;
  }
  .btn{
    margin-top: 37px;
    padding: 10px 24px;
  }
  .header-title{
    margin-top: 144px;
    &__header{
      font-size: 51px;
      line-height: 61px;
    }
    &__paragraph{
      margin-top: 28px;
      font-size: 24px;
    }
  }
  .name{
    float: left;
    margin: 30px 0 0 47px;
  }
  // MAIN
  .main__title{
   margin: 94px 0 33px;
  }
  .main-wrapp{
    margin: 0 auto;
    max-width: 738px;
  }

  .post{
    display:table;
    float: left;
    max-width: 235px;
    min-height: 332px;
    margin-right: 20px;
    &__content{
      display: table-cell;
      vertical-align: bottom;
    }
    &--third{
      margin-right: 0;
    }
  }
  .main__title--modific{
    width: 100%;
    max-width: none;
    margin-top: 90px
  }
  .partners{
    float: left;
    margin: 0px 0 14px 43px;
    max-width: 615px;
    &_wrapp{
      width: 80%;
      margin: 0 auto;
      padding-top: 6px;
      max-width: 627px;
    }
  }
  // FLEX SLIDER
  .post__content--mobile{
    display: none;
  }
  .flexslider{
    display: table-cell;
    vertical-align: bottom;
    max-width: 232px;
  }
  .flex-control-paging{
    display: none;
  }
  .flex-prev,
  .flex-next{
    display:block;
    color:transparent;
    background: url(../img/arrows.png) no-repeat;
    position: absolute;
    top: 8%;
    width: 31px;
    height: 56px;
  }
  .flex-prev{
    left:7%;
  }
  .flex-next{
    background-position: -44px 0;
    right: 7%;
  }
  // IDEAS
  .grid{
    width: 100%;
    margin: 0 auto;
    max-width: 809px;
  }
  .grid-item{
    width: 235px;
    height: 308px;
    img{
      max-height: 306px;
      width: 100%;
    }
  }
  .grid-item--width2{
    width: 500px;
  }
  .interests{
    display:inline-block;
    padding: 0 0 0 2%;
    width: 29%;
    margin-right: 18px;
  }
  .btn--search{
    width: 20%;
    padding: 10px;
    margin: 15px 15px 100px;
  }
  .footer > *{
    float: left;
    width:25%;
  }
  .name--footer{
    margin: 20px 0 0;
  }
  .nav{
    width: 69px;
    margin: 0 5% 0 8%;
}
  .menu__item{
    display: block;
    text-align: initial;
    margin-top: 17px;
  }
}
@media (min-width:960px){
   .wrapper{
      min-width: 960px;
  }
  // Header
  .sign-form{
    margin: 20px 17% 0 0;
  }
  .name {
    margin: 30px 0 0 17%;
 }
 .header{
   padding: 18px 0 16%;
   &-title__header {
      font-size: 52px;
      letter-spacing: 0;
  }
 }
 // MAIN
  .main-wrapp{
    max-width: 946px;
  }
  .partners{
    float: left;
    margin: 0px 0 14px 0;
    &_wrapp{
      width: 100%;
      margin: 0 auto;
      padding-top: 6px;
      max-width: 940px;
    }
    &__message{
      width: 94%;
    }
  }
  .post{
    display:table;
    width: 304px;
    margin-right: 17px;
    max-width: none;
    &:last-child{
      margin-right: 0;
    }
    &__content{
      display: table-cell;
      vertical-align: bottom;
    }
    &__header{
      margin-top: 16px;
    }
    &__paragraph{
      margin: 10px 0 3px 7%;
    }
  }
  // FLEX SLIDER
  .post__content--mobile{
    display: none;
  }
  .flexslider{
    display: table-cell;
    vertical-align: bottom;
  }
  .flex-control-paging{
    display: none;
  }
  .flex-prev,
  .flex-next{
    display:block;
    color:transparent;
    background: url(../img/arrows.png) no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -38px;
    width: 31px;
    height: 56px;
  }
  .flex-prev{
    left:7%;
  }
  .flex-next{
    background-position: -44px 0;
    right: 7%;
  }
  // ideas
  .grid{
    max-width: 938px;
  }
  .grid-item{
    width:298px;
  }
  .grid-item--width2{
    width:618px;
  }

  // SEARCH
  .btn{
    &--partners{
      margin-top: 26px;
      padding: 10px 29px;
    }
    &--search{
      margin-top: 23px;
      width: 12%;
      margin-left: 13px;
    }
  }
  .main__title--modific{
    margin-top: 87px;
  }
  .interests{
    width: 17%;
    margin-right: 2px;
    padding-left: 13px;
  }
  // FOOTER
  .footer{
    padding-top: 25px;
  }
  .name--footer{
    margin: 16px 0 0 8%;
  }
  .nav{
    margin: 0 4% 0 0;
    &__header{
      width: 10%;
    }
  }
  .designed{
    margin-left: 16%;
  }
}
