body{
    font-family: Arial, sans-serif;
    background-color: #B5761B;
}
.header{
    color: #5C491A;
    font-weight: bold;
    margin-left: 20px;
    text-transform: uppercase;
}
.answer_wrapper{
    margin:20px 0 20px 20px;
    color:#333;
}
.title{
    font-size: 20px;
    margin: 0 0 10px 10px;
    font-weight: bold;
}
.answer_label{
    display: block;
}
input[type="checkbox"]{
    margin: 0 10px 10px 30px;
}
.button{
    margin: 20px 0 20px 45px;
    padding: 11px;
    border: none;
    font-weight: bold;
    border-radius: 7px;
    background-color: #FFC03A;
    color: #333;
}
.button:hover{
    border-bottom: 1px solid #EFC259;
    border-left: 1px solid #EFC259;
}
.modal_window{
    display: none;
    background-color: bisque;
    width: 80%;
    max-width: 404px;
    height: 380px;
    position: absolute;
    border-radius: 15px;
    margin-left: 10px;
}
.modal_answer{
    position:relative;
    height: 100px;
    margin-top: 26px;
    width: 94%;
}
.answer{
        margin-left: 30px;
}
.try_again{
    position: absolute;
    bottom: 3%;
    right: 3%;
    border: 4px dotted #DCD97C;
    height: 81px;
    border-radius: 80px;
    background-color: #6EAF3C;
    font-weight: bold;
    font-size: 14px;
    color: #3A3737;
}