@font-face {
    font-family: 'oswaldbold';
    src: url('../font/oswald-bold-webfont.eot');
    src: url('../font/oswald-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/oswald-bold-webfont.woff2') format('woff2'),
         url('../font/oswald-bold-webfont.woff') format('woff'),
         url('../font/oswald-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'oswald_regularregular';
    src: url('../font/oswald-regular-webfont.eot');
    src: url('../font/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/oswald-regular-webfont.woff2') format('woff2'),
         url('../font/oswald-regular-webfont.woff') format('woff'),
         url('../font/oswald-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Helvetica Neue';
    src: url('../font/helveticaneue-thin-webfont.eot');
    src: url('../font/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../font/helveticaneue-thin-webfont.woff') format('woff'),
         url('../font/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



body{
    font-family: 'oswaldbold', Arial, Verdana, sans-serif; 
    font: 100%/1.5em;
    background-color: white;
}
.pw-header__wrapper{
    min-width: 750px;
    margin: 0 auto;
}
.clearfix:after{
    content:"";
    display: block;
    clear: both;
}

          /*------------------------HEADER----------------------*/
.pw-header{
    width: 100%;
    height: 75px;
    background: #4F5158;
}
.pw-header__logo{
    float:left;
    margin-top: 30px;
}
.pw-header__logo-img{
    width: 170px;
    height: 22px;
    display: block;
    background: url(../img/pw-sprite.png) no-repeat;
}

.pw-header__nav{
    float: left;
    margin: 16px 0 30px 25px;
    width: 50%;
}
.pw-header__nav_item{
    display: inline-block;
    float: left;
    margin: 0 25px 0 0;
    position: relative;
}
.pw-header__nav_link{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.pw-header__nav_link:hover{
    color: #929A94;
}
.slide-menu{
    display: none;
}
.pw-header__help{
    float: right;
    margin: 22px 6% 30px 25px;
    font-family: "oswaldbold", Arial, Verdana, sans-serif;
}
.pw-header__help-button{
    border: none;
    border-radius: 3px;
    padding: 10px 15px 8px 15px;
    background-color: #FFC03A;
    color: #000;
}
.pw-header__help-button:hover{
    border-bottom: 2px solid #f29c06; 
    border-left: 2px solid #f29c06; 
}

/*----------MAIN CONTENT-------*/
.pw-main-content{
    margin-top: 20px;
}
.pw-main-content__block1,
.pw-main-content__block2,
.pw-main-content__block3{
    float: left;
    padding: 20px 0 0;
    text-align: center;
    font-family: "oswaldbold", Arial, Verdana, sans-serif;
    background-color: #4F5158;
    color: #fff;
}

.pw-main-content__block1{
    width: 25%;
    margin:0 1% 0 1%;
    min-height: 250px
}
.pw-main-content__block2{
    width: 49%;
    margin-right: 1%;
    min-height: 500px
}
.pw-main-content__block3{
    width: 22%;
    margin-right: 1%;
    min-height: 500px
}

/*-----POSTS------*/
.block2__posts{
/*    background-color: #FFF;*/
    padding: 20px 15px;
    overflow: hidden
}
.block2__posts-list{
    position: relative;
    margin: 10px;
    padding: 10px;
    min-height: 55px;
    display: block;
    font-family: 'oswald_regularregular', Arial, Verdana, sans-serif;
    font-size: 14px;
    cursor: pointer;
    background-color: lightgray;
}
.block2__posts-list_img{
    margin: 0 10px 0 0;
    position: absolute;
    left: 0;
    top: 0;
}
.block2__posts-list_content{
    padding:5px 0 0 70px;
    width: 100%;
    float: left;
    box-sizing: border-box;
    text-align: left;
    color: #000;
}
div.clear{
    clear: both;
    display: block;
    overflow: hidden
}
.block2__posts-list_yellow{
    background-color: #D19700;
}
.block2__posts-list_golden{
    background-color: #FD9F13;
}
.block2__posts-list_blue{
    background-color: #91C9DB;
}
.block2__posts-list_red{
    background-color: #D44132;
}

/*Media query min-width: 320px and max-width: 749px*/
/*min-width: 320px) and */
@media (max-width: 749px){
/* -----------Header------*/
    .pw-header__wrapper{
        max-width: 749px;
        min-width: 300px;
    }
    .pw-header__logo-img{
        width: 32px;
    }
    .pw-header__nav{
        display: none;
    }
/* ----Main Content-----*/
    .pw-main-content__block1,
    .pw-main-content__block2,
    .pw-main-content__block3{
        float: none;
        width: 100%;
        margin: 0 0 12px 0;
    }
    .pw-main-content__block3{
        min-height: 100px;
        margin-bottom: 0;
    }
    .pw-header__logo{
        position: relative;
        margin-left: 3%;
    }
    .menu-button {
		float: left;
        margin-top: 21px;
        margin-left: 3%;
		width: 36px;
		height: 36px;
		background: #9FA3A7;
        background-image: url(../img/menu_icon.png);
        background-size: 25px 22px;
        background-repeat: no-repeat;
        background-position: center;
		cursor: pointer;
		border-radius: 5px;

		-moz-transition: all 300ms;
		-webkit-transition: all 300ms;
		transition: all 300ms;
}
    
    .slide-menu {
	position: fixed;
	top: 0;
	left: -100px;
	bottom: 0;
	display: block;
	float: left;
	width: 100%;
	max-width: 284px;
	height: 100%;
    background-color: #323335; 

	-moz-transition: all 400ms;
	-webkit-transition: all 400ms;
	transition: all 400ms;
}
    .slide-menu__nav {
		display: block;
		padding: 0;
        margin: 0;
		list-style: none;
		opacity: 0.5;

		-moz-transition: all 400ms;
		-webkit-transition: all 400ms;
		transition: all 400ms;
}
    
    .slide-menu__nav-item{
        border-bottom: 2px solid #9A8F8F;
        padding:10px 0 0 15px;
    }
    .slide-menu__nav-item a{
        color: #fff;
        text-decoration: none;
        line-height: 40px;
        text-transform: uppercase;
    }
    .menu-active .slide-menu { 
    left: 0px; 
}
    .menu-active .slide-menu ul {
    left: 0px; opacity: 1; 
}
    
  .content {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: scroll;
	background: #fcfeff;
	border-radius: 0;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	-moz-box-shadow: -3px 0 6px darken(#556270, 5%);
	-webkit-box-shadow: -3px 0 6px darken(#556270, 5%);
	box-shadow: -3px 0 6px darken(#556270, 5%);

	-moz-transition: all 400ms;
	-webkit-transition: all 400ms;
	transition: all 400ms;
}
    .menu-active .content { 
    left: 284px; 
    border-radius: 7px 0 0 7px; 
}
    .menu-active .content menu-button {
    left: 294px; 
}
}

