@import '../variables.css';

:root {
  --brand-color: #61dafb;
}

.root {
  color: #fff;
}

.container {
  margin: 0 auto;
  padding: 20px 0;
  max-width: var(--max-content-width);
}

.brand {
  color: color(var(--brand-color) lightness(+10%));
  text-decoration: none;
  font-size: 1.75em; /* ~28px */
}

.brandTxt {
  color: #fff;
  margin-left: 10px;
}

.nav {
  float: right;
  margin-top: 6px;
}

.banner {
  text-align: center;
}

.bannerTitle {
  margin: 0;
  padding: 10px;
  font-weight: normal;
  font-size: 4em;
  line-height: 1em;
}

.bannerDesc {
  padding: 0;
  color: #fff;
  font-size: 1.25em;
  margin: 0;
}

.search {
  border: none;
  outline: none;
  color: #544f4f;
  border-radius: 30px;
  margin-top: 52px;
  padding: 18px 50px;
}
