@font-face {
    font-family: 'robotoblack';
    src: url('../fonts/roboto-black-webfont.eot');
    src: url('../fonts/roboto-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-black-webfont.woff2') format('woff2'),
         url('../fonts/roboto-black-webfont.woff') format('woff'),
         url('../fonts/roboto-black-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight';
    src: url('../fonts/roboto-light-webfont.eot');
    src: url('../fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-light-webfont.woff2') format('woff2'),
         url('../fonts/roboto-light-webfont.woff') format('woff'),
         url('../fonts/roboto-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotomedium';
    src: url('../fonts/roboto-medium-webfont.eot');
    src: url('../fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../fonts/roboto-medium-webfont.woff') format('woff'),
         url('../fonts/roboto-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotothin';
    src: url('../fonts/roboto-thin-webfont.eot');
    src: url('../fonts/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-thin-webfont.woff2') format('woff2'),
         url('../fonts/roboto-thin-webfont.woff') format('woff'),
         url('../fonts/roboto-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@mixin gradientGreen {
  background: rgba(39,173,97,1);
  background: -moz-linear-gradient(top, rgba(39,173,97,1) 0%, rgba(35,157,88,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(39,173,97,1)), color-stop(100%, rgba(35,157,88,1)));
  background: -webkit-linear-gradient(top, rgba(39,173,97,1) 0%, rgba(35,157,88,1) 100%);
  background: -o-linear-gradient(top, rgba(39,173,97,1) 0%, rgba(35,157,88,1) 100%);
  background: -ms-linear-gradient(top, rgba(39,173,97,1) 0%, rgba(35,157,88,1) 100%);
  background: linear-gradient(to bottom, rgba(39,173,97,1) 0%, rgba(35,157,88,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27ad61', endColorstr='#239d58', GradientType=0 );
}
@mixin gradientHover {
  background: #35c571;
  background: -moz-linear-gradient(top, #35c571 0%, #31b568 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #35c571), color-stop(100%, #31b568));
  background: -webkit-linear-gradient(top, #35c571 0%, #31b568 100%);
  background: -o-linear-gradient(top, #35c571 0%, #31b568 100%);
  background: -ms-linear-gradient(top, #35c571 0%, #31b568 100%);
  background: linear-gradient(to bottom, #35c571 0%, #31b568 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#35c571', endColorstr='#31b568', GradientType=0 );
}
$bgColor: #2c3e50;
$btnColor: #25a75c;
$fontThin: 'robotothin';
$fontBold: 'robotoblack';
$fontColor: #2c3e50;

body{
  background: #fff;
  font-family: 'robotolight', Arial, sans-serif;
}
.wrapper{
  max-width: 940px;
  margin: 0 auto;
}
img{
  display:block;
  width: 100%;
}

// HEDAER
header{
  background: $bgColor;
}
.wrapper-header{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.menu{
  &__item{
    display: inline-block;
    &:last-child{
      .menu__link{
        margin-right: 0;
      }
    }
  }
  &__link{
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    font-family: 'robotoregular';
    letter-spacing: 1px;
    margin-right: 34px;
    &:hover{
      color: #80b179;
    }
  }
}
.btn{
  border: none;
  font-family: 'robotomedium';
  color: #fff;
  text-transform: uppercase;
  padding: 7px 21px;
  border-radius: 2px;
  font-size: 15px;
  cursor:pointer;
  @include gradientGreen;
  &:hover{
    @include gradientHover;
  }
}
// MAIN
.main{
  padding-bottom: 97px;
}
.content{
  display:flex;
  flex-wrap: wrap;
  &__post{
    width: 51%;
  }
  &__header{
    color:$fontColor;
    font-size: 36px;
    margin: 59px 0 30px;
  }
  &__paragraph{
    font-size: 15px;
    color:$fontColor;
    line-height: 25px;
  }
  &__img{
    width: 49%;
    padding: 37px 0 0 9%;
    box-sizing: border-box;
  }
}
.img-title{
  font-size: 11px;
  line-height: 25px;
}
// FORM
.form{
  background: url(../img/img3.png) top center;
  padding: 80px 0 112px 0;
}
.user-data{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 49%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px;
    background: #fff;
}
.header{
  color: #555555;
  font-size: 35px;
  font-family: 'robotothin';
}
.input{
  border: none;
  background-color: #f5f5f5;
  border-top: 1px solid #c4c4c4;
  padding: 12px;
  width: 65%;
  font-family: 'robotolight';
  font-size: 20px;
  margin-top: 8px;
}
.email{
  margin-top: 28px;
}
.btn-submit{
  margin-top: 20px;
}
.select-wrapper{
  position:relative;
  width: 71%;
}
.country{
  width:100%;
  margin-top: 6px;
  color: #555555;
}
::-webkit-input-placeholder{
    color: #555555;
}
// FOOTER
footer{
  font-size: 15px;
  color:#fff;
  text-align: center;
  background-color: $bgColor;
  padding: 15px 0;
}
.slider{
  position:relative;
}
.slider-banner{
  width: 54%;
  text-align: center;
  position: absolute;
  top: 22%;
  right: 4%;
  z-index: 10;
  &__header{
    font-size: 55px;
    color: #555555;
    font-family: 'robotothin';
    margin-bottom: 5%;
  }
}
@media (max-width: 749px){
  .slider-banner{
    display: none;
  }
  .content__header{
    font-size: 30px;
  }
  .content__post{
    width: 100%;
    padding: 10px;
  }
  .content__img{
    width: 100%;
    padding: 10px;
    img{
      width:85%;
    }
  }
  .user-data{
    width: 90%;
  }
  .select-wrapper{
    width: 69%
  }
}
