body{
    background-color: #FFE4C4;
}

.stopwatch{
    text-align: center;
    margin-top: 200px;
}
.multy_buttons{
    margin-top: 20px;
}

.time{
    display: block;
    position: relative;
}
.clock_logo{
    position: absolute;
    top: 208px;
    left: 530px;
}




