*{
    margin: 0;
    padding: 0;
}
body{
    font-family:sans-serif;
    font-size:14px;
    background-color: chocolate;

}
.tabs{
    width: 500px;
    background-color: #fff;
}
.wrapper{
    background-color: grey;
}
.header{
    padding: 10px;
}
.header li{
    display: inline-block;
}
.header a{
    border-radius: 1px;
    padding: 10px;
    text-decoration: none;
    background-color: #eee;
    color: #000;
}
.tabs a.active {
				background:#fff;
				color:#000;
}
.inner_text{
    padding: 20px;
}
