@font-face {
  font-family: 'museo100';
  src: url("../fonts/museosanscyrl_100.eot");
  src: url("../fonts/museosanscyrl_100.eot?#iefix") format("embedded-opentype"), url("../fonts/museosanscyrl_100.woff2") format("woff2"), url("../fonts/museosanscyrl_100.woff") format("woff"), url("../fonts/museosanscyrl_100.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'museo500';
  src: url("../fonts/museosanscyrl_500.eot");
  src: url("../fonts/museosanscyrl_500.eot?#iefix") format("embedded-opentype"), url("../fonts/museosanscyrl_500.woff2") format("woff2"), url("../fonts/museosanscyrl_500.woff") format("woff"), url("../fonts/museosanscyrl_500.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'playfair_display_scitalic';
  src: url("../fonts/playfairdisplaysc-italic-webfont.eot");
  src: url("../fonts/playfairdisplaysc-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/playfairdisplaysc-italic-webfont.woff2") format("woff2"), url("../fonts/playfairdisplaysc-italic-webfont.woff") format("woff"), url("../fonts/playfairdisplaysc-italic-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: 'museo100', Arial, sans-serif;
  background: #fff; }

.wrapper {
  min-width: 320px;
  max-width: 480px;
  margin: 0 auto; }

.clearfix:after {
  content: "";
  display: block;
  clear: both; }

header {
  display: flex;
  padding: 20px 10px;
  justify-content: center; }

.logo {
  width: 50%;
  height: 50%;
  display: block; }

.img {
  display: block;
  width: 100%; }

.interview__first-part {
  background-color: #f6f6f6; }

.post {
  padding: 7%; }

.interview__header {
  font-family: "museo500";
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 4%;
  color: #262626; }

.interview__paragraph {
  font-family: "museo100";
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  color: #262626; }

.read-more {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: #262626;
  font-weight: 600; }
  .read-more:hover {
    color: #009688; }

.interview__header_sub,
.img_sub {
  margin-top: 7%; }

.quote {
  font-family: "museo500";
  font-size: 19px;
  font-weight: 700;
  text-align: center;
  margin-top: 8%; }

.line {
  height: 1px;
  width: 50%;
  margin: 8% auto;
  max-width: 137px;
  background-color: #262626; }

.share-btns {
  text-align: center;
  cursor: pointer;
  margin-top: 30px; }

.icon-facebook:hover {
  color: #0d26af;
  transition: 0.2s; }

.icon-vkontakte:hover {
  color: #162ca7;
  transition: 0.2s; }

.icon-google-plus:hover {
  color: #e91d1d;
  transition: 0.2s; }

.slider {
  margin: 15% 0 23% 0; }

.header-slider {
  font-style: italic;
  font-size: 20px;
  font-weight: bolder;
  margin: 3%; }

.sl-img {
  cursor: pointer; }

figure {
  text-align: center; }

figcaption {
  font-size: 14px; }
  figcaption span {
    font-family: "museo500";
    font-weight: bold;
    display: inline-block;
    margin-bottom: 5px; }

.question {
  text-align: center;
  font-size: 12px;
  width: 90%;
  margin: 0 auto; }

.header_help {
  font-size: 13px; }

.paragraph_help {
  font-size: 12px; }

.news {
  display: flex;
  padding: 0 5%; }

.news-post {
  padding-right: 4%;
  text-align: center; }

.news-post__header a {
  font-size: 28px;
  font-weight: bold;
  text-decoration: none;
  color: #262626; }

.news__paragraph {
  margin-top: 18%;
  font-size: 14px; }

.news__img {
  width: 40%;
  height: 40%; }

.email-check {
  font-size: 0;
  margin-top: 9%; }

.input {
  border: 1px solid #bdbdbd;
  letter-spacing: 1px;
  line-height: 60px;
  text-align: center;
  border-right: none;
  color: #262626; }

.submit {
  border: none;
  background: #e8dadc;
  text-transform: uppercase;
  width: 25%;
  line-height: 62px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer; }

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.menu__list {
  margin-bottom: 3%; }

.menu__item {
  text-decoration: none;
  font-size: 14px;
  color: #262626;
  padding: 20px;
  font-weight: 700; }

.copy {
  text-align: center;
  font-weight: bold;
  color: #9f9f9f;
  font-size: 13px;
  margin-top: 2%; }

.fullscreen {
  display: none; }

.follow {
  position: relative; }

.window {
  display: none;
  position: absolute;
  width: 100%;
  font-size: 17px;
  font-weight: bold;
  padding-top: 35px;
  height: 122px;
  top: -15%;
  background: #e8dadc;
  box-sizing: border-box;
  border: 16px solid beige;
  border-radius: 16px; }

.window_close {
  position: absolute;
  top: 6px;
  right: 7px;
  background: url(../img/close.png) no-repeat;
  display: block;
  width: 20px;
  height: 20px; }

@media (min-width: 768px) {
  .wrapper {
    min-width: 768px;
    max-width: 960px; }

  .logo {
    width: 25%;
    height: 25%; }

  .interview__first-part {
    display: flex; }

  .img {
    width: 50%;
    height: 50%; }

  .post {
    padding-left: 4%; }

  .interview__second-part {
    display: flex;
    flex-wrap: wrap;
    margin-top: 76px; }

  .img_second {
    width: 40%;
    height: 40%;
    margin-top: 100px; }

  .post_second {
    width: 48%; }

  .interview__third-part {
    display: flex; }

  .share-btns {
    text-align: left;
    margin-top: 19px; }

  .slider {
    margin-top: 7%; }

  .flexslider {
    max-width: 80%;
    margin: 20px auto; }

  .line {
    display: none; }

  .help {
    display: flex;
    align-items: center;
    margin-bottom: 40px; }

  .question {
    width: 62%; }

  .menu__item {
    font-size: 16px; }

  .window {
    right: 44%; } }
@media (min-width: 960px) {
  .wrapper {
    min-width: 960px;
    max-width: initial;
    padding: 0 3% 0 3%; }

  header {
    background-color: #f6f6f6;
    padding-top: 93px;
    padding-bottom: 0;
    justify-content: flex-end; }

  .logo {
    width: 15%;
    height: 14%;
    margin-right: 34%; }

  .interview__first-part {
    padding-bottom: 71px; }

  .post_first {
    margin-top: 64px;
    padding-left: 9%; }
    .post_first .interview__paragraph {
      width: 100%; }

  .read-more {
    display: none; }

  .fullscreen {
    display: block; }

  .slider {
    margin-top: 3%;
    margin-left: 2%;
    margin-bottom: 93px; }

  .flexslider {
    max-width: 90%; }

  .header-slider {
    font-size: 32px; }

  .post-wrapper {
    display: flex;
    flex-direction: column;
    width: 64%;
    padding-left: 7%;
    box-sizing: border-box; }

  .img_second {
    width: 28%;
    margin-top: 0;
    padding-left: 14px; }

  .post_left {
    margin-left: 6%;
    padding-top: 33px; }

  .post_second {
    display: flex;
    flex-wrap: wrap;
    width: 67%;
    padding: 4% 0 0 3%; }

  .interview__second-part {
    position: relative;
    margin-top: 5%; }

  .interview__paragraph {
    width: 84%;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 25px; }

  .interview__header_sub {
    margin-top: 6%; }

  .quote {
    font-family: "museo100";
    line-height: 29px;
    width: 71%;
    margin-left: 30px; }

  .share-btns {
    margin-top: 30px; }

  .post_third {
    padding: 12% 0 7% 5%; }
    .post_third .interview__paragraph {
      width: 100%; }

  .post_second .img_sub {
    width: 29%;
    margin: 0px;
    padding-left: 41px; }

  .img_fours {
    margin-left: 8%; }

  .question {
    width: 29%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0; }

  .help {
    justify-content: space-around;
    padding-top: 50px;
    border-top: 1px solid #e5e5e5; }
    .help .interview__paragraph {
      width: 96%;
      font-size: 13px; }

  .news {
    align-items: center;
    width: 24%;
    padding: 0 40px 0 40px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5; }

  .news-post {
    display: flex;
    flex-direction: column;
    align-items: center; }

  .news__img {
    width: 37%;
    height: 37%; }

  .news__paragraph {
    margin-top: 20px; }

  .follow {
    width: 26%;
    position: relative; }

  .email-check {
    display: flex;
    width: 85%; }

  .email {
    width: 81%; }

  .submit {
    width: 30%; }

  footer {
    display: flex;
    justify-content: space-between; }

  nav {
    order: 1;
    align-self: flex-end;
    margin-right: 20px; }

  .menu__list {
    margin: 0; }

  .menu__item {
    font-size: 14px; }

  .copy {
    margin-left: 20px; }

  .window {
    top: 40%;
    right: 100%; } }

/*# sourceMappingURL=main.css.map */
