@import "fonts";
@import "variables";
@import "normalise";

body {
  font-family: 'helveticaneuecyrlight_italic', Arial, sans-serif;
  background: #fff;
}
ul{
  list-style: none;
  padding:0;
  margin:0;
}
.wrapper {
  min-width: 320px;
  max-width: 959px;
  margin: 0 auto;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
//------------------------------- Header
.top-section{
  background: url(../img/bg.jpg) center;
  background-size: cover;
  padding-bottom: 73px;
}
header{
  padding: 10px 0;
  background: -moz-linear-gradient(top, rgba(41,56,66,1) 0%, rgba(53,74,89,0.77) 100%);
  background: -webkit-linear-gradient(top, rgba(41,56,66,1) 0%,rgba(53,74,89,0.77) 100%);
  background: linear-gradient(to bottom, rgba(41,56,66,1) 0%,rgba(53,74,89,0.77) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#293842', endColorstr='#c4354a59',GradientType=0 );
}
.logo{
  float: left;
  margin-left: 10%;
  font-size: 37px;
  text-transform: uppercase;
  a{
    color:#fefbfb;
    text-decoration: none;
  }
}
nav{

}
.mobile-menu{
  float: right;
  position:relative;
  margin: 10px 7% 0 0;
  background-color: #2b4f69;
  padding: 7px 6px;
  border: 1px solid #99a0a6;
  border-radius: 2px;
  box-shadow: 4px 5px 17px 0 rgba(0,0,0,.75);
  cursor:pointer;
  font-family: $fontMedium;
  color:$fontColor;
  font-size: 13px;
  span{
    margin-left: 2px;
  }
  &:before{
    content: url(../img/min_menu.png);
  }
}
.min-menu {
    display:none;
    position: absolute;
    background-color: rgba(68,138,200,.9);
    z-index: 10;
    text-align: center;
    top: 29px;
    right: -1px;
    width: 200px;
    box-shadow: 3px 0 17px 0 #524752;
    -webkit-transition: height .4s ease-in;
    transition: height .4s ease-in;
}
.enter-btn{
    display: inline-block;
    padding: 8px;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    font-family: $fontMedium;
    letter-spacing: .5px;
}
.menu{
  &__link{
    @extend .enter-btn;
    display: block;
    border-bottom: 1px solid #24659f;
  }
  &__item:hover{
    background-color: rgba(29, 62, 92, 0.9);
  }
}
.ion-android-lock:before {
    margin-right: 5px;
}
.ion-ios-people:before {
    margin-right: 5px;
}

//-------------- PRE-HEADER
.pre-header{
  text-align: center;
  background-color: rgba(68, 138, 200, 0.9);
  width: 79%;
  max-width: 244px;
  margin: 68px auto 0;
  border: 9px solid rgba(255,255,255,.3);
  border-radius: 11px;
  padding: 20px 0;
}
.input-wrapp{
  width: 85%;
  margin: 0 auto;
  position: relative;
  max-width: 350px;
  margin-bottom: 10px;
  input{
    width: 85%;
    color: #373737;
    padding: 6px 10px 6px 22px;
    border: 2px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 1px 1px 9px 0 rgba(124,124,124,.75);
  }
}
::-webkit-input-placeholder{
  font-size: 13px;
  color: #666666;
}
.chosen{
  color: $fontColor;
  margin:0;
  span{
    padding-left: 8px;
  }
}
.ion-ios-heart:before {
    content: "\f443";
    font-size: 20px;
    cursor: pointer;
}
.ion-ios-heart:hover:before {
    color: #ec008c;
    -webkit-transition: .3s;
    transition: .3s;
}
.search {
    position:relative;
    margin-top: 10px;
    padding: 5px 20px 5px 36px;
    border: none;
    color: #fff;
    font-size: 19px;
    letter-spacing: .5px;
    font-family: $fontMedium;
    box-shadow: 4px 5px 11px 0 rgba(0,0,0,.75);
    cursor: pointer;
    background: url(../img/search.png) no-repeat;
    background-color: #373737;
    background-size: 20px 20px;
    background-position: 11px 5px;
}
.city{
  background: url(../img/geo.png) 3px 2px center no-repeat;
  background-size: 15px 22px;
  background-position: 3px 2px;
  background-color: #fff;
}
.excursion{
  background: url(../img/arrow_down.png) right center no-repeat;
  background-color: #fff;
}
.line{
  background-color: #263a48;
  height: 14px;
}
//---- MAIN
main{
   text-align: center;
}
.header-line{
    position: relative;
    text-align: center;
    overflow: hidden;
    margin-top: 10px;
  &__text{
    position: relative;
    color: #334e60;
    font-family: $fontMedium;
    font-size: 18px;
    display: inline-block;
  }
}
.header-line__text:after,
.header-line__text:before{
  content: "";
  position: absolute;
  border-top: 1px solid #334e60;
  top: 9px;
  width: 100%;
}
.header-line__text:before {
  right: 100%;
  margin-right: 15px;
}
.header-line__text:after {
  left: 100%;
  margin-left: 15px;
}

.btn-more{
  background: #2980b9;
  border: none;
  color: #fff;
  padding: 6px 10px;
  border-radius: 23px;
  font-size: 13px;
  font-family: $fontBold;
  margin-bottom: 10px;
}
.tour{
  position:relative;
  box-shadow: 4px 5px 11px 0 rgba(0,0,0,.75);
  width: 80%;
  margin: 0 auto 17px;
  max-width: 355px;
  &__img{
    display:block;
    width:100%;
  }
  &__price{
    font-family: $fontBold;
    font-size: 13px;
    color: $fontColor;
    background: url(../img/blue_flag.png) no-repeat;
    position: absolute;
    right: -9px;
    top: 16px;
    line-height: 26px;
    padding: 0 10px 7px;
    background-size: 100% 36px;
    width:30%;
  }
  &__sale{
    @extend .tour__price;
    color: $fontColor;
    font-family: $fontMedium;
    background: url(../img/red_flag.png) no-repeat;
    top: 52px;
    background-size: 100% 36px;
    width: 25%;
    height: 36px;
    padding-right: 9px;
    font-size: 12px;
    line-height: normal;
    text-align: center;
  }
  &__title{
    background-color: rgba(36, 52, 101, 0.9);
    color:$fontColor;
    color: #fff;
    position: absolute;
    bottom: 14%;
    right: 2%;
    width: 78%;
    line-height: 28px;
  }
}
.title-name{
  float: left;
  font-size: 20px;
  font-family: 'helveticaneuecyrblack_italic';
  margin-left: 8px;
}
.title-number{
  float: right;
  font-size: 13px;
  font-family: 'helveticaneuecyritalic';
  margin-right: 8px;
}
.header-line + .tour{
    margin-top: 10px;
  }
//----------- FOOTER
footer{
  background: #334e60;
  padding: 10px 0 21px;
}
.media-links{
  width: 182px;
  margin: 0 auto;
  &__item{
    display: inline-block;
  }
  &__link{
    text-decoration: none;
    color:$fontColor;
    background-color: #9ca7a9;
    display: block;
    padding: 8px 8px 5px;
    border-radius: 9px;
    border: 5px solid #2e4656;
    transition: all 0.3s;
  }
}
.icon{
  &-vk:hover{
    background-color: #45668e;
  }
  &-instagram:hover{
    background-color: #3f729b;
  }
  &-twitter:hover{
    background-color: #55acee;
  }
  &-facebook:hover{
    background-color: #3b5998;
  }
}
.info{
  width: 80%;
  margin: 16px auto 0;
  max-width: 328px;
}
.contacts{
  float:left;
  &__item{
    color:$fontColor;
    font-size: 12px;
    line-height: 26px;
  }
  &__icon{
    display:inline-block;
    margin-right: 1px;
    background: url(../img/sprite.png) 0 0 no-repeat;
    width:22px;
    height:21px;
  }
}
.email{
  height: 14px;
}
.phone{
  background-position: -20px 0;
}
.skype{
  background-position: -41px 0;
}
.viber{
  background-position: -71px 0;
}
.wsapp{
  background-position: -97px 0;
}

// Button
.btn{
    position: relative;
    margin: 10px 7% 0 0;
    padding: 7px 8px 7px 15px;
    color:$fontColor;
    font-size: 12px;
    font-family: $fontMedium;
    background-color: #2b4f69;
    border: 1px solid #99a0a6;
    border-radius: 10px;
    box-shadow: 4px 5px 17px 0 rgba(0,0,0,.75);
}
.icon--call{
    display: block;
    width: 20px;
    height: 20px;
    background: url(../img/sprite.png) -121px 0 no-repeat;
    position: absolute;
    left: 2px;
    top: 7px;
}
.footer-menu{
  float:right;
}
.menu{
  &__item--footer:hover{
      background-color: transparent;
  }
  &__link--footer{
    border:none;
    padding: 6px;
    &:hover{
      color: $fontHover;
      text-decoration: underline;
      transition: all 0.3s;
    }
  }
}
.copyright{
  font-size: 11px;
  color: $fontColor;
  text-align: center;
  font-family: 'helveticaneuecyrthin_italic';
  background-color: #173345;
}
// Display none
.logo--footer,
.pay-block,
.fullscreen{
  display:none;
}
@media (min-width: 764px) and (max-width:959px){
  // HEADER
  .logo{
    font-size: 87px;
  }
  .mobile-menu{
    margin-top: 25px;
    font-size: 30px;
    background: url(../img/mm.png) 3px 13px no-repeat;
    padding-left: 42px;
    background-size: 36px;
    background-color: #2b4f69;
  }
  .mobile-menu:before{
    content: "";
    display: none;
  }
  .min-menu{
    display: none;
    top: 49px;
    width: 425px;
  }
  .menu__link,
  .enter-btn{
    font-size: 24px;
    padding:11px;
  }
  .sign-up{
    margin-left: 12%;
    border-left: 1px solid #24659f;
  }
  // Pre-header
  .pre-header{
    max-width: 581px;
  }
.input-wrapp{
  width:90%;
  max-width: 529px;
  margin-bottom: 26px;
  input{
    height: 50px;
    font-size: 28px;
    padding-left: 41px;
  }
}
::-webkit-input-placeholder{
  font-size: 28px;
}
.city{
  background-position: 5px 11px;
  background-size: 29px 40px;
}
.excursion{
  background-size: 30px 24px;
}
.chosen{
  text-align: left;
  margin-left: 8%;
  span{
    font-size: 33px;
    font-family: 'helveticaneuecyrlight_italic';
  }
}
.ion-ios-heart:before{
  font-size: 30px;
}
.search{
  margin-top: 30px;
  padding: 5px 4% 5px 53px;
  font-size: 45px;
  background-size: 35px 35px;
  background-position-y: 11px;
}
// MAIN
.header-line__text:after,
.header-line__text:before{
  border-top: 2px solid #334e60;
  top: 27px;
  width: 25%;
}
.header-line{
  margin-top: 22px;
  &__text{
    font-size: 41px;
    font-weight: 300;
  }
}
.tour{
  max-width: 613px;
  margin: 0 auto 30px;
  &__price{
    font-size: 31px;
    top: 40px;
    right: -14px;
    line-height: 23px;
    padding: 10px 10px 17px;
    background-size: 100% 54px;
  }
  .tour__sale{
    top: 101px;
    background-size: 100% 81px;
    height: 52px;
    font-size: 28px;
    line-height: 25px;
  }
  &__title{
    height: 52px;
    line-height: 48px;
  }
}
.btn-more{
  margin-bottom: 30px;
  font-size: 28px;
  padding: 10px 3%;
}
.title{
  &-name{
    font-size: 48px;
  }
  &-number{
    font-size: 28px
  }
}
// FOOTER
.info{
  max-width: 566px;
}
.menu__link--footer{
  padding:8px;
}
.contacts__item{
  font-size: 25px;
  line-height: 44px;
}
.media-links{
  width:271px;
  &__link{
    padding: 13px 13px 10px;
    margin-right: 12px;
  }
}

.btn{
  font-size: 18px;
  padding-left: 21px;
}
.icon--call{
  top: 9px;
}
.copyright{
  font-size: 16px;
}
}
@media all and (min-width: 960px) {
  .wrapper {
    min-width: 960px;
    max-width: 1990px;
    margin: 0 auto;
  }
  .top-section{
    padding-bottom: 14%;
  }
  // HEADER
  .fullscreen-wrapp{
    width: 86%;
    max-width: 827px;
    margin: 0 auto;
  }
   .logo{
     font-size: 44px;
     margin-left: 0;
   }
   .min-menu,
   .mobile-menu{
     display:none;
   }
  .enter-btn{
    font-size: 20px;
    padding: 5px 8px 0;
    font-size: 16px;
    &:hover{
      color: #4eaae6;
      text-decoration: underline;
      transition: all .3s;
    }
  }
  .log-in{
    background: url(../img/enter.png) no-repeat;
    padding-left: 37px;
    background-position-y: 2px;
    &:hover{
      background: url(../img/enterHover.png) no-repeat;
      background-position-y: 2px;
    }
  }
   .sign-up{
     border-left: 1px solid #fff;
     margin: 0;
   }
   .btn{
     float: left;
     font-size: 11px;
     margin-left: 4%;
     background-color: #1e5b8a;
     box-shadow: inset 6px 9px 5px -6px rgb(195, 189, 189);
     border: none;
     margin-right: 0;
   }
   nav{
     float:right;
     margin: 10px 0 0;
   }
   .menu__link{
     font-size: 15px;
   }
   .icon--call{
     top: 6px;
   }
   .contacts{
     &__item{
       line-height: 28px;
     }
     &__icon{
       vertical-align: middle;
     }
     &--fullscreen{
       float: left;
       margin:0 0 23px 0;
     }
   }
   .enter-fullscreen{
     float: right;
   }
// Pre-header
.pre-header{
  margin-top: 14%;
  min-width: 750px;
  padding: 11px 0;
}
.input-wrapp{
  float: left;
  display: inline-block;
  margin: 0 15px 0 13px;
  max-width: 232px;
  input{
    width: 85%;
    height: 30px;
    font-size: 14px;
    padding: 0 10px 0 29px;
  }
}
.input-wrapp:nth-child(2){
  width: 168px;
  margin-left: 1px;
  margin-right: 4px;
}
.input-wrapp .excursion{
  max-width: 144px;
  padding-left: 10px;
  padding-right: 0;
}
.chosen{
  float: left;
  margin-left: 0;
  margin-top: 5px;
  span{
    font-size: 15px;
  }
}
.ion-ios-heart:before {
    font-size: 20px;
  }
::-webkit-input-placeholder{
  font-size: 14px;
}
.city{
  background-size: 17px 23px;
  background-position: 4px 4px;
}
.search{
  float: left;
  font-size: 20px;
  background-size: 20px 20px;
  background-position: 6px;
  padding-left: 38px;
  margin-top: 0;
  max-width: 121px;
  background-position: 12px;
  margin-left: 16px;
}
// Main
main{
  position:relative;
  width: 83%;
  max-width: 806px;
  margin: 0 auto;
}
.header-line__text{
  font-size: 24px;
}
.header-line__text:after,
 .header-line__text:before{
   border-top: 1px solid #334e60;
   top: 14px;
   width: 100%;
 }
 .tour{
   max-width: 246px;
   float: left;
   margin: 0 10px 17px 10px;
 }
 .btn-more{
   font-size: 13px;
   margin-bottom: 18px;
   padding: 10px 2%;
   border-radius: 10px;
   box-shadow: inset 5px 5px 5px 0px rgba(138,185,217,1)
 }
 // Article
 .prefooter-article{
   border-top: 1px solid #d7d7d7;
   display:block !important;
   box-shadow: 0px 7px 27px 0px rgba(207,201,207,1);
 }
 .article-wrapper{
   width: 80%;
   max-width: 780px;
   margin: 0 auto;
 }
 .article-content{
   font-size: 12px;
   line-height: 28px;
 }
 .more{
   text-align: right;
   margin-bottom: 0;
   padding-bottom: 9px;
   a{
     text-decoration: none;
     color:#000;
     font-size: 13px;
     display: inline-block;
     padding-right: 22px;
     background: url(../img/arrow-right.png) center right no-repeat;
   }
 }
 .consultation{
   position: relative;
   cursor: pointer;
   &-content{
     position: fixed;
     left: 0;
     top: 121px;
     z-index: 99999;
     background: url(../img/consultation.png) no-repeat;
     width: 30px;
     height: 210px;
     background-position: 2px;
     border-top-right-radius: 9px;
     border-bottom-right-radius: 9px;
     background-color: #365363;
   }
 }
 .share{
   position: fixed;
   right: 0;
   top: 121px;
   z-index: 99999;
   &-content{
     position: relative;
   }
 }
 .social{
    position: relative;
    cursor: pointer;
    right: -84%;
    color: #fff;
    border-radius: 6px;
    display: block;
    padding: 0 20px 0 15px;
    width: 182px;
    height: 83px;
    padding: 5px 5px;
    transition: all 0.4s;
    a{
      color: #fff;
      text-decoration: none;
    }
    &:hover{
      right:-5px;
      transition: all 0.4s;
    }
 }
 .vk{
   background: url(../img/vk.png) no-repeat;
   background-color: #336699;
   background-position: 7px
 }
 .fb{
   position: relative;
   top: -6px;
   background: url(../img/fb.png) no-repeat;
   background-color: #395a99;
   height: 92px;
 }
  // FOOTER
  footer{
      padding-top: 22px;
      box-shadow: 0px -10px 70px 10px rgba(207,201,207,1);
  }
  .logo--footer{
    display:block;
    float: left;
    a{
      font-size: 56px;
      font-weight: 900;
      font-family: 'helveticaneuecyrbold';
      text-transform: initial;
    }
  }
  .info{
    float: left;
    width: 60%;
    margin: 30px 0 0 0;
    max-width: none;
  }
  .contacts,
  .footer-menu{
    float: none;
  }
  .contacts--footer{
        margin-top: 20px;
  }
  .contacts__item,
  .menu__item--footer{
    display:inline-block;
  }
  .contacts__item{
    margin-left: 11px;
    font-size: 12px;
  }
  .btn--smallscreen,
  .menu__item--smallscreen{
    display:none;
  }
  .fullscreen{
    display:inline-block;
  }
  .copyright{
    font-size: 12px;
    box-sizing: border-box;
    line-height: 20px;
    height: 23px;
  }

  .media-links{
    width: initial;
    float: right;
    margin: 21px 0 0 0;
    &__link{
      font-size: 17px;
      margin-right: 8px;
      padding: 11px 11px 8px;
    }
  }
  // Pay-Block
  .pay-block{
    display:block;
    float: right;
    top: -11px;
    position: relative;
    &__item{
      display:inline-block;
    }
    &__link{
      display: block;
      width: 48px;
      height: 31px;
      background: url(../img/pay.png) no-repeat;
    }
    &__header{
      color: $fontColor;
      font-size: 15px;
      letter-spacing: 0.5px;
      font-family: $fontBold;
      margin-bottom: 14px;
    }
  }
  .web-money{
    width: 67px;
  }
  .master-card{
    background-position: -70px 0;
    width: 46px;
  }
  .verby-visa{
    background-position: -117px 0;
  }
  .master-card_code{
    background-position: -166px 0;
  }
  .visa{
    background-position: -215px 0;
  }
}
