*{
    margin: 0;
    padding: 0;
}


form > div{
    margin: 20px;
}
#address{
    margin-left:10px;
}
.btn{
    margin-left: 10px;
}
#title{
    display: inline-block;
    padding: 2px;
    margin-left: 15px;
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
    border-radius: 5px;
    
}