*{
    margin: 0;
    padding: 0;
}
.carousel-hider {
    width: 350px;
    overflow: hidden;
    float: left;
}
.carousel-list{
    list-style: none;
    width: 10000px;
    position: relative;
}
.carousel-element{
    display: block;
    margin-left: 25px;
    float: left;
}
.carousel-element img{
    width: 300px;
    height: 400px;
}
.carousel-arrow-left,
.carousel-arrow-right{
    float: left;
    font-size: 50px;
}
.carousel-arrow-left:hover, .carousel-arrow-right:hover{
    color: lawngreen;
    cursor: pointer;
}


.prof-img{
    width: 200px;
}
.clearfix:after{
    content:'';
    display: block;
    clear:both;
}
.wrapp{
    margin: 100px;
}
.list{
    list-style: none;
}
.profile_button{
    margin: 50px;
}