body{
  background-color: #795548;
  font-family: Arial, sans-serif;
}

*{
  list-style: none;
}

.main-header{
  text-align: center;
  text-indent: -.12em;
  color: #f4f1de;
  font: 100px 'Impact', sans-serif;
  display: inline-block;
  margin: 0 auto;
  letter-spacing: .02em;
  line-height: 1;
  width: 100%;
  text-shadow: #863027 .01em .01em 0, #863027 .02em .02em 0, #863027 .03em .03em 0, #863027 .04em .04em 0, #863027 .05em .05em 0, #863027 .06em .06em 0, #863027 .07em .07em 0,	#863027 .08em .08em 0, #863027 .09em .09em 0, #863027 .1em .1em 0;
}
.item-value{
    border: none;
    padding: 16px;
    width: 60%;
    border-radius: 13px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    -webkit-box-shadow: 2px 8px 13px 0px rgb(105, 44, 39);
    -moz-box-shadow: 2px 8px 13px 0px rgb(105, 44, 39);
    box-shadow: 2px 8px 13px 0px rgb(105, 44, 39);
}
.controlls{
  margin-top: 2%;
  text-align: center;
}
.list li{
    position: relative;
    padding: 10px;
    width: 65%;
    cursor: default;
    border-radius: 7px;
    margin:2% auto 0;
    background: #872F2F;
    font-size: 24px;
    color: #EAD491;
}
.item-delete{
  display: inline-block;
  background: url(../img/close.png) no-repeat;
  position: absolute;
  right: 19px;
  top: 15px;
  margin-left: 9%;
  cursor: pointer;
  width:20px;
  height: 16px;
}
.item-add{
  padding: 16px;
  border-radius: 7px;
  font-weight: bold;
  border: none;
  background: #D5C7C7;
  color: #333;
  cursor: pointer;
  font-size: 19px;
  outline: none;
}
