@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?6465sd');
    src:    url('../fonts/icomoon.eot?6465sd#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?6465sd') format('truetype'),
        url('../fonts/icomoon.woff?6465sd') format('woff'),
        url('../fonts/icomoon.svg?6465sd#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
    content: "\e900";
}
.icon-cart:before {
    content: "\e901";
}
.icon-phone:before {
    content: "\e902";
}
.icon-bubble:before {
    content: "\e903";
}
.icon-user:before {
    content: "\e904";
}
.icon-users:before {
    content: "\e905";
}
.icon-spinner:before {
    content: "\e906";
}
.icon-spinner2:before {
    content: "\e907";
}
.icon-spinner3:before {
    content: "\e908";
}
.icon-briefcase:before {
    content: "\e909";
}
.icon-menu:before {
    content: "\e90a";
}
.icon-play3:before {
    content: "\e90b";
}
.icon-arrow-up:before {
    content: "\e90c";
}
.icon-arrow-right:before {
    content: "\e90d";
}
.icon-arrow-down:before {
    content: "\e90e";
}
.icon-arrow-left:before {
    content: "\e90f";
}
.icon-ctrl:before {
    content: "\e910";
}
.icon-amazon:before {
    content: "\e911";
}
.icon-google-plus2:before {
    content: "\e912";
}
.icon-facebook:before {
    content: "\e913";
}
.icon-facebook2:before {
    content: "\e914";
}
.icon-vk:before {
    content: "\e915";
}
.icon-dribbble:before {
    content: "\e916";
}
.icon-behance2:before {
    content: "\e917";
}
.icon-github:before {
    content: "\e918";
}
.icon-appleinc:before {
    content: "\e919";
}

.clearfix:after{
    content:"";
    display: block;
    clear: both;
}
body{
    font-family:  Arial, Verdana, sans-serif; 
    font: 100%/1.5em;
    background-color: white;
}

header{
    background: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-nav{
    display: flex;
    align-items: center;
}
.nav-list{
  list-style: none;
  margin: 0; 
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
}
.nav-list a{
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}
.nav-list a:hover {
  background: #D29F09;
    transition: all .4s;
}


.header-search{
    display: flex;
    justify-content: space-around;
    flex-basis: 140px;
    align-items: center;
}
.search-button{
    border: none;
    border-radius: 3px;
    padding: 4px;
    margin-left: 10px;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    background-color: #D29F09;
}
.search-button:hover{
    background-color: #CEA93F;
    transition: all .4s;
}
.search-input{
    border: none;
    border-radius: 3px;
    padding: 5px;
    color: #333;
    font-weight: bold;
}
.banner{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.banner-logo{
    background-color: #333;
    padding: 20px;
}
.banner-content{
    background-color:#D29F09;
    width: 50%;
    margin-left: 1%;
}

.menu-sections{
    background-color: #333;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.nav-item{
    margin-left: 10px;
    position: relative;
}
.section-item{
    position: relative
}
.section-item:after{
    content: '\e90b';
    font-family: 'icomoon';
    speak: none;
    position: absolute;
    top: 17px;
    right: -1px;
    color: #fff;
    font-size: 13px;
}
.menu-sections ul li:hover .submenu{
    display: block;
    transition: all .4s;
}
.submenu li:hover .sub{
    display: block;
    transition: all .4s;
}
.submenu{
    display: none;
    list-style: none;
    position: absolute;
    top: 40px;
    background: #544C4C;
    padding: 0;
}
.sub{
    display: none;
}
a.sub-item{
    padding-right: 20px;
}
.sub .sub-item:hover{
    background: #C0C0C0;
}
.submenu-item{
        position: relative;
    }
.sub{
    position: absolute;
    left: 116px;
    background: #544C4C;
    padding: 0;
    list-style: none;
    top: 0;
}

article{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.first{
    background-color: #333;
    height: 200px;
    width: 50%;
}
.aside-wrapper{
    display: flex;
    flex-direction: column;
        margin-left: 2%;
}
.second,
.third{
    background-color: #D29F09;
    height: 90px;
    width: 270px;
}
.third{
    margin-top: 20px;
}

.news{
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    align-items: center;
}
.news-title{
    margin: 0 auto;
    text-align: center;
    width: 80%;
    font-weight: bold;
    color: #333;
    padding: 13px 0 13px;
    border-bottom: 1px solid #544c4c;
    border-top: 1px solid #544c4c;
    max-width: 1000px;
    min-width: 700px;
}
.news-posts{
   display:flex; 
   width: 80%;
   justify-content: space-around;\
   margin: 15px 0 15px;
}

@keyframes color-change{
    0% {
    background-color: #333;
  }
    25% {
    background-color: #544C4C;
  }
    50% {
    background-color: #865353;
  }
    100% {
    background-color: #C77F7F;
  }
}
.post{
    background-color: #333;
    width: 150px;
    height: 150px;
    margin: 15px 0 15px;
    margin-right: 10px;
    animation: color-change 4s infinite linear;
}

.latest-stories_wrapp{
    display:flex;
    justify-content: center;
}
.latest-stories_posts{
    display:flex;
    flex-direction: column;
    width: 40%;
    border-right: 2px solid #333;
}
.latest-stories_wrapp{
    margin:20px 0 40px;
}
.latest-post {
        border-bottom: 2px solid #333;
}
.latest-post{
    display: flex;
    width:97%;
    padding-bottom: 15px;
    margin-top: 15px;
}
.post-img{
    background-color: #333;
    height: 150px;
    width: 200px;
}
.post-content{
    width: 313px;
    margin-left: 2%;
}
 h4{
    font-size: 15px;
    color: #D29F09;
}
.latest-stories{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.latest-post p{
    font-size: 13px;
    color: #333;
    width: 86%;
}
.pages{
    display: flex;
    align-items: center;
}
.nav-pages{
    padding: 0;
    margin-right: 10px;
}
.page a{
    padding: 8px;
    color: #333;
}
.pages span a{
    text-decoration: none;
    color:#333;
    font-weight: bold;
}
.pages span a:hover{
    color: #c0c0c0;
    transition: all .3s;
}


.followers{
    display: flex;
    flex-direction: column;
    width: 36%;
    align-items: center;
}
.followers-list-wrapp{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    max-width: 261px;
}
.followers-list:before{
    content: '\e904';
    font-family: 'icomoon';
    speak: none;
    font-size: 23px;
}
.followers-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 11px;
    margin: 9px 5px 9px;
}
.followers-list span{
    margin-top: 5px;
}
@keyframes anim-rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.partner-post{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D29F09;
    height: 180px;
    width: 100%;
    font-weight: bold;
    color: #333;
}
.partner-post:hover{
    animation: anim-rotate 2s infinite linear;
}


.pre-footer{
    display: flex;
    justify-content: center;
    color: #333;
    
}
.pre-footer_post{
    display: flex;
    flex-flow: column wrap;
    width:32%;
    background-color: #D29F09;
    padding-bottom: 30px;
}
.footer-links__list{
    display: flex;
    flex-flow: row wrap;
}

.pre-footer_post_first{
    width: 20%;
    padding-left: 14px;
    max-width: 200px;
}
.pre-footer_post_second{
    width:28%;
}
.pre-footer_post_third{
    padding-left: 2%;
}
.flickr-imgs__list{
    font-size: 35px;
    cursor: pointer;
}
.icon-vk:hover,
.icon-facebook2:hover{
    color:#3B3B84;
    transition: all .3s;
}
.icon-github:hover{
    color:#000;
    transition: all .3s;
}
.icon-appleinc:hover{
    color:#fff;
    transition: all .3s;
}
.icon-dribbble:hover{
    color:#D8448E;
    transition: all .3s;
}
.icon-behance2:hover{
    color:#5757BD;;
    transition: all .3s;
}
.icon-google-plus2:hover{
    color:#CA1C1C;
    transition: all .3s;
}
.icon-amazon:hover{
    color:yellow;
    transition: all .3s;
}

.pre-footer__links{
    background-color: #333;
    padding: 6px;
    border-radius: 5px;
    margin-left: 1%;
    margin-top: 1%;
}
.pre-footer__links a{
   color: #fff;
    text-decoration: none;
}
.pre-footer__links:hover{
    background-color: darkseagreen;
    transition: all .5s;
}


footer{
    background: #333;
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}
.mobile-menu{
    display: none;
}



/*------------------------MEDIA 768px - 960px-----------------------*/

@media (min-width:481px) and (max-width:768px){
    header{
      padding:15px;
    } 
    .header-nav{
        display:none;
    }
    .mobile-menu{
        display: block;
        position: relative;
    }
    .mobile-menu:hover .nav-mobile{
        display: block;
    }
    .nav-mobile{
        display: none;
    }
    .nav-mobile .nav-item{
       margin: 0;
    }
    .m-menu{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 23px;
    }
    .mobile-menu ul{
         position: absolute;
         background-color: #333;
         padding: 0;
         left: -5%;
         flex-direction: column;
    }
    
    .menu-sections{
        justify-content: flex-start;
    }
    .nav-list{
        padding-left: 2%;
    }
    .nav-list a{
        padding: 10px 5px;
        font-size: 14px;
    }
    .submenu{
    top: 32px;
    }
    .submenu-item .sub-item{
    padding-right: 15px;
    }
    .submenu-item .section-item:after{
    right: 1px;
    }
    .sub{
        left:90px;
    }
    .section-item:after{
            top: 11px;
            right: -9px;
    }
    
    .news-title{
       display: flex;
       justify-content: center;
        margin: 0;
        align-self: center;
    }
    .pre-footer_post_first{
        width: 43%;
    }
    .pre-footer_post_second{
        width: 46%;
        padding-left: 2%;
    }
    .followers{
        width: 41%;
        margin-left: 2%;
    }
    .latest-stories_posts{
        width: 52%;
   }
    .latest-post{
        flex-direction: column;
    }
    .post-content{
        width: 100%;
    }
}




/*------------------------MEDIA 320px - 479px-----------------------*/

@media (min-width:320px) and (max-width:480px){
   .header-nav{
        display:none;
    }
     header{
      padding:15px;
      justify-content: space-between;
    } 
     .mobile-menu{
        position: relative;
    }
    .m-menu{
        display: block;
        text-decoration: none;
        color: white;
        font-size: 23px;
    }
    .m-menu:hover .nav-mobile{
        display:block;
    }
    
    .mobile-menu{
        display: block;
        position: relative;
    }
    .mobile-menu:hover .nav-mobile{
        display: block;
    }
    .nav-mobile{
        display: none;
    }
    .nav-mobile .nav-item{
       margin: 0;
    }
    
    
    .nav-list a{
        padding: 10px 5px;
        font-size: 14px;
    }
    .nav-list a:hover{
        background-color: #C0C0C0;
    }
    .nav-mobile{
         display: none;
         position: absolute;
         background-color: #333;
         padding: 0;
         left: -5%;
         flex-direction: column;
    }
    
    .search-input{
    width: 100px;
    font-size: 12px;
    }
    
    .banner{
        align-items: center;
        flex-direction: column;
    }
    .banner-logo{
        width: 87%;
        padding: 0;
    }
    .banner-content{
        width: 90%;
        height: 100px;
        margin-top: 10px;
    }
    .news-title{
       display: flex;
       justify-content: center;
        margin: 0;
        align-self: center;
    }
    
    article{
      flex-direction: column;
       align-items: center;
    }
    .first{
        width: 90%;
        margin-bottom: 10px;
    }
    .menu-sections{
        display: none;
    }
    
    
    .news-posts{
        flex-direction: column;
        align-items: center;
    }
    .post{
        width: 100%;
    }
    
    .latest-stories_wrapp{
        flex-direction: column;
        align-items: center;
    }
    .latest-stories_posts{
        width: 97%;
        border-right: none;
    }
    .pages{
        justify-content: center;
    }
    
    .partner{
        display: none;
    }
    .followers{
        flex-flow: row wrap;
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }
    .pre-footer{
        display: none;
    }
    footer{
        text-align: center;
        display: block;
    }
}