@font-face {
    font-family: Verdana;
    font-style: normal;
}
body{
    
   font-family: Verdana;
   background: url(../img/1.jpg);
    font-size: 14px;
   /*background-size: cover;*/
    }
    
.form{
    width:1000px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px 0px 25px 0 #5e5757;
    border-bottom: 2px solid #031d28;
}
.clearfix:after{
    content:'';
    clear:both;
    display: block;
    
}
/*HEADER*/

.header{
    background-color: white;
    position: relative;
}
  /*contacts*/
.contacts{
    width: 150px;
    float:right;
    margin: 15px 20px 0 0;
}
.contacts span:first-child{
    font-weight: 600;
    margin-bottom: 5px;
}
.contacts span{
    
    display: block;
    color: #128aa7;
    font-size: 12px;
    line-height: 20px;
}


.logo{
    float: left;
    height: 200px;
    
}
.logo img{
    height: 185px;
   margin:28px 0 0 35px;
}
   /*COUNTRIES MENU*/

.countries{
  float: right;
    margin: 35px 20px 22px 0;
    }
.countries ul{
  float: right;
}
.countries li{
    display: inline-block;
    width:73px;
    color: #128aa7;
    font-size: 12px;
    text-align: center;
}
.countries li a{
    color: #128aa7;
}


     /*Contacts*/

.photo{
    height: 200px;
}
.photo img{
    border-bottom:1px solid #128aa7;
    border-top:2px solid #128aa7;
    }

     /*Menu*/

.menu{
    position:relative;
    background-color: #333333;
    box-shadow: 0px 4px 2px 0 #555555;
    border-bottom: 1px solid black;
    z-index: 1;
    
}
.menu ul li{
    float:left;
    position:relative;
    z-index:1;
    line-height: 40px;
    cursor: pointer;
     }
.menu ul li a{
    display: block;
    padding: 0 29px;
    text-decoration: none;
    font-size: 14px;
    color: white;
}
.menu ul li .submenu{
    display:none;
    position: absolute;
    left: 0;
    top:41px;
    width: 160px;
    background-color: #333333;
    box-shadow: -1px 5px 10px 0 #6e6e6e; 
}
.menu ul li ul li{
    float: none;
    display:block;
    line-height: 27px;
}
.menu ul li ul li a{
    padding:0 25px;
}
.menu ul li:hover .submenu{
    display:block;
}
 
     /*Content*/

.content{
    background: url(../img/b.png) repeat-y;
    float: left;
    line-height: 23px;
}

.leftColumn{
    width: 190px;
    float:left;
    margin-top: 10px;
    margin-left:20px;
    font-size: 12px;
            
    
}
.centrColumn{
    float: left;
    width:580px;
   
}

.rightColumn{
    width: 190px;
    float:right;
    font-size: 12px;
    margin-top: 10px;
    padding-left: 20px;
}
.content h2{
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
    
}
.rightColumn p{
    padding-bottom: 15px;
}
         /*Footer*/

.footer{
    display: block;
    text-align: center;
    font-size: 13px;
    line-height: 40px;
    color: #dee7ee;
}






